%h2
  ="#{@scenario.name}"
  %br="Simulation Variables - #{@variable.name}"

%p= link_to 'Back', directory_institution_scenario_variables_path(@institution, @scenario)

%hr

%p
  %b
    Name:
  = @variable.name
%p
  %b
    Display name:
  = @variable.display_name
%p
  %b
    Index:
  = @variable.index
%p
  %b
    Description:
  = @variable.description
%p
  %b
    I/O type:
  = @variable.io_type
%p
  %b
    Component:
  = @variable.component
%p
  %b
    Min value:
  = @variable.description
%p
  %b
    Default value:
  = @variable.default_value
%p
  %b
    Max value:
  = @variable.max_value
%p
  %b
    Unit SI
  = @variable.unit_si
%p
  %b
    Unit IP
  = @variable.unit_ip
%p
  %b
    SI to IP
  = @variable.si_to_ip
%p
  %b
    Fault?
  = @variable.is_fault
%p
  %b
    Left label:
  = @variable.left_label
%p
  %b
    Right label:
  = @variable.right_label
%p
  %b
    Subsection:
  = @variable.subsection
%p
  %b
    Zone position:
  = @variable.zone_position
%p
  %b
    Subsection:
  = @variable.subsection
%p
  %b
    Is percentage:
  = @variable.is_percentage
%p
  %b
    Fault widget type:
  = @variable.fault_widget_type
%p
  %b
    Notes:
  = @variable.notes
%p
  %b
    Lock version:
  = @variable.lock_version
%p
  %b
    Node sequence:
  = @variable.node_sequence

%p
  = link_to 'Back', :back