#tabs
  %ul
    %li= link_to @master_scenario.name, admins_master_scenario_path(@master_scenario)
    %li= link_to "Revisions", admins_master_scenario_revisions_path(@master_scenario)
    %li.ui-tabs-selected= link_to "Revision #{@version.version}", admins_master_scenario_revision_path(@master_scenario, @version.version)
    
  #page_header
    #subject_actions
      = link_to "View variables", admins_master_scenario_revision_variables_path(@master_scenario, @version.version)

    #subject_info
      %h2= @master_scenario.name
      .subject_details="Revision #{@version.version}"
    
      #location.ui-widget.ui-widget-content.ui-corner-all
        %h4 Description
        %p= @version.description

  #inner_column
    %table
      %tr
        %th Name:
        %td= @version.system_variables.size
      %tr
        %th Author:
        %td= @version.user.name
      %tr
        %th Client Version:
        %td= link_to @version.client_version.version, admins_settings_client_version_path(@version.client_version)
      %tr
        %th Tags:
        %td= @version.tag_list
      %tr
        %th Created on:
        %td= @version.created_at.to_formatted_s(:long)
      %tr
        %th Last updated:  
        %td= @version.updated_at.to_formatted_s(:long)
