= f.error_messages
.field
  = f.label :name
  %br
  = f.text_field :name
.field
  = f.label :display_name
  %br
  = f.text_field :display_name
.field
  = f.label :description
  %br
  = f.text_area :description
.field
  = f.label :component_code, "Component"
  %br
  = f.select :component_code, SystemVariable::COMPONENTS.keys.collect { |comp| [SystemVariable::COMPONENTS[comp], comp] }, { :prompt => "Please select..."}
.field
  = f.label :io_type, "I/O Type"
  %br
  = f.select :io_type, SystemVariable::IO_TYPES.collect {|type| [ type.to_s.capitalize, type ] }, { :prompt => "Please select..."}
.field
  = f.label :index
  %br
  = f.text_field :index
.field
  = f.label :unit_si
  %br
  = f.text_field :unit_si
.field
  = f.label :unit_ip
  %br
  = f.text_field :unit_ip
.field
  = f.label :low_value
  %br
  = f.text_field :low_value
.field
  = f.label :initial_value
  %br
  = f.text_field :initial_value
.field
  = f.label :high_value
  %br
  = f.text_field :high_value
.field
  = f.label :notes
  %br
  = f.text_area :notes

%p Fault Information

.field
  = f.label :is_fault
  %br
  = f.check_box :is_fault
.field
  = f.label :fault_widget_type
  %br
  = f.text_field :fault_widget_type
.field
  = f.label :subsection
  %br
  = f.text_field :subsection
.field
  = f.label :left_label
  %br
  = f.text_field :left_label
.field
  = f.label :right_label
  %br
  = f.text_field :right_label
.field
  = f.label :zone_position
  %br
  = f.text_field :zone_position
.field
  = f.label :is_percentage
  %br
  = f.check_box :is_percentage
.actions
  = f.submit
  &nbsp;or&nbsp;
  = link_to 'Cancel', :back