%h2 Global System Variables
%p Manage system variables
%hr
%table
  %tr
    %th Comp
    %th Fault
    %th Name
    %th Display Name
    %th Description
    %th Type
    %th Min
    %th Default
    %th Max
    %th Unit SI
    %th Unit IP
    %th SI to IP
    %th Disabled
  - @global_system_variables.each do |global_system_variable|
    %tr
      %td comp
      %td fault
      %td= global_system_variable.name
      %td= global_system_variable.display_name
      %td= global_system_variable.description
      %td= global_system_variable.io_type
      %td= global_system_variable.min_value
      %td= global_system_variable.default_value
      %td= global_system_variable.max_value
      %td= global_system_variable.unit_si
      %td= global_system_variable.unit_ip
      %td= global_system_variable.si_to_ip
      %td= global_system_variable.global_disable
      %td= link_to 'Show', admin_system_variable_path(global_system_variable)
      %td= link_to 'Edit', edit_admin_system_variable_path(global_system_variable)
      %td= link_to 'Destroy', admin_system_variable_path(global_system_variable), :confirm => 'Are you sure?', :method => :delete
%br
= will_paginate @global_system_variables
%br
= link_to 'New System Var', new_admin_system_variable_path

