%h2= "System Variables for #{@master_scenario.name}"
%p Manage system variables
%hr
%table
  %tr
    %th Comp
    %th Fault
    %th Name
    %th Display Name
    %th Description
    %th Type
    %th Min
    %th Default
    %th Max
    %th Unit SI
    %th Unit IP
    %th SI to IP
    %th Disabled
  - @system_variables.each do |system_variable|
    %tr
      %td comp
      %td fault
      %td= system_variable.name
      %td= system_variable.display_name
      %td= system_variable.description
      %td= system_variable.io_type
      %td= system_variable.min_value
      %td= system_variable.default_value
      %td= system_variable.max_value
      %td= system_variable.unit_si
      %td= system_variable.unit_ip
      %td= system_variable.si_to_ip
      %td= system_variable.global_disable
      %td= link_to 'Show', admin_master_scenario_system_variable_path(@master_scenario, system_variable)
      %td= link_to 'Edit', edit_admin_master_scenario_system_variable_path(@master_scenario, system_variable)
      %td= link_to 'Destroy', admin_master_scenario_system_variable_path(@master_scenario, system_variable), :confirm => 'Are you sure?', :method => :delete
%br
= will_paginate @master_scenarios
%br
= link_to 'New System Var', new_admin_master_scenario_system_variable_path(@master_scenario)

