%h2= "System Variables for #{@master_scenario.name}"

%p
  = link_to 'New System Variable', new_admin_master_scenario_system_variable_path(@master_scenario)
  &nbsp;|&nbsp;
  = link_to "Back", admin_master_scenario_path(@master_scenario)

%hr
%table
  %tr
    = sort_header_tag('component_code', :title => 'Component')
    %th Fault
    = sort_header_tag('name', :title => 'Name')
    %th Display Name
    = sort_header_tag('type_code', :title => 'Type')
    = sort_header_tag('min_value', :title => 'Min.')
    = sort_header_tag('default_value', :title => 'Default')
    = sort_header_tag('max_value', :title => 'Max.')
    %th Unit SI
    %th Unit IP
    %th SI to IP
  - @system_variables.each do |system_variable|
    %tr
      %td= system_variable.component
      %td= system_variable.is_fault ? "Yes" : "No"
      %td= link_to system_variable.name, admin_master_scenario_system_variable_path(@master_scenario, system_variable)
      %td= system_variable.display_name
      %td= system_variable.io_type.to_s.upcase
      %td= system_variable.min_value
      %td= system_variable.default_value
      %td= system_variable.max_value
      %td= system_variable.unit_si
      %td= system_variable.unit_ip
      %td= system_variable.si_to_ip
%br
= will_paginate @master_scenarios
%br

