%h2= "#{@system_variable.name.capitalize} variable"

%p
  = link_to 'Edit', edit_admin_master_scenario_system_variable_path(@master_scenario, @system_variable)
  &nbsp;|&nbsp;
  = link_to 'Delete', admin_master_scenario_system_variable_path(@master_scenario, @system_variable), :confirm => 'Are you sure?', :method => :delete
  &nbsp;|&nbsp;
  = link_to 'Back', :back

%hr  

%p
  %b
    Name:
  = @system_variable.name
%p
  %b
    Display name:
  = @system_variable.display_name
%p
  %b
    Index:
  = @system_variable.index
%p
  %b
    Description:
  = @system_variable.description
%p
  %b
    I/O type:
  = @system_variable.io_type
%p
  %b
    Component:
  = @system_variable.component
%p
  %b
    Min value:
  = @system_variable.description
%p
  %b
    Default value:
  = @system_variable.default_value
%p
  %b
    Max value:
  = @system_variable.max_value
%p
  %b
    Unit SI
  = @system_variable.unit_si
%p
  %b
    Unit IP
  = @system_variable.unit_ip
%p
  %b
    SI to IP
  = @system_variable.si_to_ip
%p
  %b
    Fault?
  = @system_variable.is_fault
%p
  %b
    Global disable:
  = @system_variable.global_disable
%p
  %b
    Left label:
  = @system_variable.left_label
%p
  %b
    Right label:
  = @system_variable.right_label
%p
  %b
    Subsection:
  = @system_variable.subsection
%p
  %b
    Zone position:
  = @system_variable.zone_position
%p
  %b
    Subsection:
  = @system_variable.subsection
%p
  %b
    Is percentage:
  = @system_variable.is_percentage
%p
  %b
    Fault widget type:
  = @system_variable.fault_widget_type
%p
  %b
    Notes:
  = @system_variable.notes
%p
  %b
    Lock version:
  = @system_variable.lock_version
%p
  %b
    Node sequence:
  = @system_variable.node_sequence

%p
  = link_to 'Edit', edit_admin_master_scenario_system_variable_path(@master_scenario, @system_variable)
  &nbsp;|&nbsp;
  = link_to 'Delete', admin_master_scenario_system_variable_path(@master_scenario, @system_variable), :confirm => 'Are you sure?', :method => :delete
  &nbsp;|&nbsp;
  = link_to 'Back', admin_master_scenario_system_variables_path(@master_scenario)
