#tabs
  %ul
    %li= link_to @scenario.name, managers_scenario_path(@scenario)
    %li.ui-tabs-selected= link_to "Access", [:managers, @scenario, :accesses]
    
  #page_header
    #subject_info
      %h2 Who has access?
      .subject_details= "Instructor: #{@scenario.user.name}"

  #inner_column
    - unless current_user.individual_scenarios.where('memberships.scenario_id' => @scenario.id).first
      %p
        Allow me to 
        = link_to "download", [:managers, @scenario, :accesses], :method => :post
        this scenario.
        
    - if @scenario.public?
      %p 
        This scenario is 
        %b public
        and can be accessed by any user in the system.

    - else
      %p
        This scenario is
        %b private
        and can only be accessed by the instructor and:

      %h3 Groups
      - if @scenario.groups.empty?
        %b This scenario hasn't been yet assigned to a group.
      - else
        %table.listing
          %thead
            %tr
              %th Name
              %th Students
              %th Members
              %th Code
          - @scenario.groups.each do |group|
            %tr
              %td= link_to group.name, managers_class_path(group)
              %td= group.members.count
              %td= group.scenarios.count
              %td= group.code
              
      - if @memberships.any?
        %h3 People
        %table
          %thead
            %tr
              %th Name
              %th Institution
              %th Email
              %th Role
              %th 
            - @memberships.each do |membership|
              - member = membership.member
              %tr
                %td= member.name
                %td= member.institution.try(:name)
                %td= mail_to member.email
                %td= member.role
                %td= link_to(image_tag("trashcan.gif"), managers_scenario_acces_path(membership, @scenario), :method => :delete, :confirm => "Are you sure?") unless member.has_role?(:admin)
                
        %br
        = will_paginate @memberships 
