#tabs
  %ul
    %li= link_to @scenario.name, managers_scenario_path(@scenario)
    %li.ui-tabs-selected= link_to "Access", [:managers, @scenario, :access]
    
  #page_header
    #subject_info
      %h2 Who has access?
      .subject_details= "Instructor: #{@scenario.user.name}"

  #inner_column
    - unless current_user.public_scenarios.where('user_scenarios.scenario_id' => @scenario.id).first
      %p
        Allow me to 
        = link_to "download", managers_scenario_access_path('scenario_id' => @scenario.id), :method => :post
        this scenario.
        
    - if @scenario.public?
      %p 
        This scenario is 
        %b public
        and can be accessed by any user in the system.

    - else
      %p
        This scenario is
        %b private
        and can only be accessed by the instructor and:

      %h3 Groups
      - if @scenario.groups.empty?
        %b This scenario hasn't been yet assigned to a group.
      - else
        %table.listing
          %thead
            %tr
              %th Name
              %th Students
              %th Members
              %th Code
          - @scenario.groups.each do |group|
            %tr
              %td= link_to group.name, managers_class_path(group)
              %td= group.members.count
              %td= group.scenarios.count
              %td= group.code
              
      - if @scenario.users.any?
        %h3 People
        %table
          %thead
            %tr
              %th Name
              %th Institution
              %th Email
              %th Role
              %th 
            - @scenario.users.each do |user|
              %tr
                %td= user.name
                %td= user.institution.try(:name)
                %td= mail_to user.email
                %td= user.role
                %td= link_to(image_tag("trashcan.gif"), managers_scenario_access_path(@scenario, :user_id => user.id), :method => :delete, :confirm => "Are you sure?") unless user.has_role?(:admin)
