%h2= "#{@scenario.name.titleize} Simulation Variables"
%p= link_to 'New Variable', new_instructor_scenario_variable_path(@scenario)
%hr

%table
  %tr
    = sort_header_tag('component_code', :title => 'Component')
    %th Fault
    %th Name
    %th Display Name
    = sort_header_tag('type_code', :title => 'Type')
    = sort_header_tag('min_value', :title => 'Min.')
    = sort_header_tag('default_value', :title => 'Default')
    = sort_header_tag('max_value', :title => 'Max.')
    %th Unit SI
    %th Unit IP
    %th SI to IP
    %th
  - @scenario_variables.each do |scenario_system_variable|
    %tr
      %td= scenario_system_variable.component_code
      %td fault
      %td= scenario_system_variable.name
      %td= link_to scenario_system_variable.display_name, instructor_scenario_variable_path(@scenario, scenario_system_variable)
      %td= scenario_system_variable.io_type.to_s.upcase
      %td= scenario_system_variable.min_value
      %td= scenario_system_variable.default_value
      %td= scenario_system_variable.max_value
      %td= scenario_system_variable.unit_si
      %td= scenario_system_variable.unit_ip
      %td= scenario_system_variable.si_to_ip
      %td
        = link_to image_tag("edit.gif"), edit_instructor_scenario_variable_path(@scenario, scenario_system_variable)
        &nbsp;
        = link_to image_tag("trashcan.gif"), instructor_scenario_variable_path(@scenario, scenario_system_variable), :confirm => 'Are you sure?', :method => :delete
%br
= will_paginate @scenario_variables
