%h2 Directory
%hr

%table.institutions_directory
  %tr
    %th
  - @recent_institutions.each do |institution|
    %tr
      %td
        = link_to formatted_institution_name(institution), directory_institution_path(institution)
        %span.institution_info= "scenarios #{institution.scenarios.public.count}"
        %span.institution_info= "users #{institution.users.count}"
