%h2 Directory

#directory_dashboard
  .institutions.column
    %h3 Institutions
    - @institutions.each do |institution|
      .info
        = link_to formatted_institution_name(institution), directory_institution_path(institution)
        %span= "scenarios #{institution.scenarios.public.count}"
        %span= "users #{institution.users.count}"
    
  .people.column
    %h3 People
    - @users.each do |user|
      .info
        = link_to user.name, directory_person_path(user)
        %span= role_and_institution_for(user)
        %span= "scenarios #{user.scenarios.public.count}"