- content_for :head do
  <!-- Include the Google Friend Connect javascript library. -->
  <script type="text/javascript" src="http://www.google.com/friendconnect/script/friendconnect.js"></script>
  
%h2 Directory

#directory_dashboard
  .institutions.column
    %h3 Recent Institutions
    - @institutions.each do |institution|
      .info
        = link_to formatted_institution_name(institution), directory_institution_path(institution)
        %span= "scenarios #{institution.scenarios.public.count}"
        %span= "users #{institution.users.count}"
    %br
    = link_to "view all", directory_institutions_path
    
  .people.column
    %h3 Recent Users
    - @users.each do |user|
      .info
        = link_to user.name, directory_person_path(user)
        %span= role_and_institution_for(user)
        %span= "scenarios #{user.scenarios.public.count}"
    %br
    = link_to "view all", directory_people_path

#connect
  %h3 Friends Connect
  #div-2817922683270113519
    - javascript_tag do 
      var skin = {};
      skin['BORDER_COLOR'] = '#cccccc';
      skin['ENDCAP_BG_COLOR'] = '#e0ecff';
      skin['ENDCAP_TEXT_COLOR'] = '#333333';
      skin['ENDCAP_LINK_COLOR'] = '#0000cc';
      skin['ALTERNATE_BG_COLOR'] = '#ffffff';
      skin['CONTENT_BG_COLOR'] = '#ffffff';
      skin['CONTENT_LINK_COLOR'] = '#0000cc';
      skin['CONTENT_TEXT_COLOR'] = '#333333';
      skin['CONTENT_SECONDARY_LINK_COLOR'] = '#7777cc';
      skin['CONTENT_SECONDARY_TEXT_COLOR'] = '#666666';
      skin['CONTENT_HEADLINE_COLOR'] = '#333333';
      skin['NUMBER_ROWS'] = '3';
      google.friendconnect.container.setParentUrl('/' /* location of rpc_relay.html and canvas.html */);
      google.friendconnect.container.renderMembersGadget({ 
      id: 'div-2817922683270113519',
      site: '18322011899239412358' 
      },
      skin);
  

#div-838038409033038140
- javascript_tag do
  var skin = {};
  skin['BORDER_COLOR'] = '#cccccc';
  skin['ENDCAP_BG_COLOR'] = '#e0ecff';
  skin['ENDCAP_TEXT_COLOR'] = '#333333';
  skin['ENDCAP_LINK_COLOR'] = '#0000cc';
  skin['ALTERNATE_BG_COLOR'] = '#ffffff';
  skin['CONTENT_BG_COLOR'] = '#ffffff';
  skin['CONTENT_LINK_COLOR'] = '#0000cc';
  skin['CONTENT_TEXT_COLOR'] = '#333333';
  skin['CONTENT_SECONDARY_LINK_COLOR'] = '#7777cc';
  skin['CONTENT_SECONDARY_TEXT_COLOR'] = '#666666';
  skin['CONTENT_HEADLINE_COLOR'] = '#333333';
  skin['POSITION'] = 'bottom';
  skin['DEFAULT_COMMENT_TEXT'] = '- add your comment here -';
  skin['HEADER_TEXT'] = 'Comments';
  google.friendconnect.container.setParentUrl('/' /* location of rpc_relay.html and canvas.html */);
  google.friendconnect.container.renderSocialBar({ 
  id: 'div-838038409033038140', 
  site: '18322011899239412358',
  'view-params':{"scope":"PAGE","features":"video,comment","showWall":"true"}
  },
  skin);
