<div style="clear: both;">
<table>
  <td>
    <%= f.label :name, "Title" %><br />
    <%= f.text_field :name, :class => "primary" %>
  </td>
  <td style="text-align:right">
    <%= f.label :position %><br />
    <%= f.text_field :position, :size => 5 %>

  </td>
</table>

<p id="forum_descripion">
<%= f.label :description %><br />
<%= f.text_area :description, :rows => 7 %></p>