%h2 Reseting Your Password
%p Please enter a new password.
= form_for @user, :url => password_reset_path(@user.perishable_token), :html => {:method => :put } do |f|
  = f.error_messages

  .field
    = f.label :password
    = f.password_field :password

  .field
    = f.label :password_confirmation
    = f.password_field :password_confirmation

  .actions
    = f.submit "Update my password and log me in"
