= content_for :main_header do
  %h1= @group.name
  %h4 Edit

= form_for(@group, :url => managers_class_path(@group), :method => :put) do |f|
  %fieldset
    = render 'form', :f => f
    .actions
      = f.submit 'Update', :class => 'btn primary'
      or
      = link_to 'Cancel', :back, :class => 'btn'
