= content_for :js_templates do
  :plain
    $(document).ready(function() {
      $("#group_creator_id").change(function() {
        $.get("#{list_managers_scenarios_path}", { user_id: $(this).val() }, function(r) { $("#group_scenario_ids_").html(r) })
      })
    })

= content_for :main_header do
  %h1 New Class
  %p To create a new class, enter the name of the class, then select an instructor. A list of available scenarios for that instructions will appear on the scenario menu. You may select more that one scenario to share. (Use Control+click to select more than one).

= form_for(@group, :url => managers_classes_path, :method => :post) do |f|
  %fieldset
    = render 'form', :f => f
    .actions
      = f.submit 'Create', :class => 'btn primary'
      or
      = link_to 'Cancel', :back, :class => 'btn'
