%h2= @group.name.capitalize
%p
  = link_to 'Edit Group', edit_managers_group_path(@group)
  &nbsp;|&nbsp;
  = link_to 'Delete Group', managers_group_path(@group), :confirm => 'Are you sure?', :method => :delete
  &nbsp;|&nbsp;
  = link_to 'Back', managers_groups_path
%hr

%p
  %b Code:
  = @group.code

%p
  %b Lead by:
  = link_to @group.instructor.name, managers_instructor_path(@group.instructor)

%p
  %b Invitation URL:
  = membership_register_url(@group.code)

- if @group.students.size.zero?
  %b There are no students registered under this group.
- else
  %b members:
  %ul
    - @group.students.each do |student|
      %li
        = link_to student.name, "#"
