= content_for :main_header do
  %h1 Edit

= form_for @client_version, :url => admins_settings_client_version_path(@client_version) do |f|
  %fieldset
    = render :partial => "form", :locals => { :f => f }
    .actions
      = f.submit 'Update Client Version', :class => 'btn primary'
      or
      = link_to 'Cancel', :back, :class => 'btn'
