= content_for :main_header do
  %h1 Client Versions

.well= link_to "New Desktop Application Version", new_admins_settings_client_version_path, :class => 'btn'

%table.zebra-striped
  %thead
    %tr
      %th Version
      %th URL
      %th Release Date
  %tbody
    - @client_versions.each do |version|
      %tr
        %td= link_to version.version, admins_settings_client_version_path(version)
        %td= link_to "Download", version.url, :class => 'btn'
        %td= version.release_date
%br
= will_paginate @client_versions
