= content_for :main_header do
  %h2 New Desktop Application Version

= form_for(@client_version, :url => admins_settings_client_versions_path, :method => :post) do |f|
  %fieldset
    = render :partial => "form", :locals => { :f => f }
    .actions
      = f.submit 'Create Client Version', :class => 'btn primary'
      or
      = link_to 'Cancel', :back, :class => 'btn'
