= content_for :main_header do
  %h1 Client Version #{@client_version.version}

.well
  #subject_actions
    = link_to 'Edit', edit_admins_settings_client_version_path(@client_version), :class => 'btn success'
    = link_to 'Delete Version', admins_settings_client_version_path(@client_version), :confirm => 'Are you sure?', :method => :delete, :class => 'btn danger'

%table
  %tr
    %td
      %strong Version:
    %td= @client_version.version
  %tr
    %td
      %strong Release date:
    %td= @client_version.release_date
  %tr
    %td
      %strong URL:
    %td= link_to @client_version.url, @client_version.url
  %tr
    %td
      %strong Description:
    %td= @client_version.description
