%h1
  Listing institutions
%table
  %tr
    %th
      Name
    %th
      Description
    %th
    %th
    %th
  - @institutions.each do |institution|
    %tr
      %td= institution.name
      %td= institution.description
      %td= link_to 'Show', institution
      %td= link_to 'Edit', edit_institution_path(institution)
      %td= link_to 'Destroy', institution, :confirm => 'Are you sure?', :method => :delete
%br
= link_to 'New institution', new_institution_path
