%h1
  Listing Scenario System Variables
%table
  %tr
    %th Comp
    %th fault
    %th Name
    %th Display Name
    %th Description
    %th Type
    %th Min
    %th Default
    %th Max
    %th Unit SI
    %th Unit IP
    %th SI to IP
    %th Disabled
    %th
    %th
    %th
  - @scenario_system_variables.each do |scenario_system_variable|
    %tr
      %td comp
      %td fault
      %th= scenario_system_variable.name
      %th= scenario_system_variable.display_name
      %th= scenario_system_variable.description
      %th= scenario_system_variable.io_type
      %th= scenario_system_variable.min_value
      %th= scenario_system_variable.default_value
      %th= scenario_system_variable.max_value
      %th= scenario_system_variable.unit_si
      %th= scenario_system_variable.unit_ip
      %th= scenario_system_variable.si_to_ip
      %th= scenario_system_variable.global_disable
      %td= link_to 'Show', scenario_scenario_system_variable_path(@scenario, scenario_system_variable)
      %td= link_to 'Edit', edit_scenario_scenario_system_variable_path(@scenario, scenario_system_variable)
      %td= link_to 'Destroy', scenario_scenario_system_variable_path(@scenario, scenario_system_variable), :confirm => 'Are you sure?', :method => :delete
%br
= link_to 'New System Var', new_scenario_scenario_system_variable_path(@scenario)
