%h2= "#{@group.name} students"

%hr

%table
  %tr
    %th Last Name
    %th First Name
    %th Email

    - for student in @students
      %tr
        %td= student.last_name
        %td= student.first_name
        %td= student.email

= link_to "Back", groups_path