%h2= @student.name.capitalize

%p
  %b
    Login:
  = h @student.login
%p
  %b
    Role:
  = h @student.role
%p
  %b
    First Name:
  = h @student.first_name
%p
  %b
    Last Name:
  = h @student.last_name
%p
  %b
    E-Mail:
  = mail_to @student.email, @student.email

