<h2>Admin Dashboard</h2>

<p>This is the administration section of the LearnHVAC instructor application</p>

<hr />

<table>
  <tr>
    <th>&nbsp;</th>
    <th>All</th>
    <th>Recently Added</th>
    <th>Recently Updated</th>
  </tr>

  <tr>
    <td>Instructors</td>
    <td><%= User.instructor.count %></td>
    <td><%= User.instructor.recently_created.count %></td>
    <td><%= User.instructor.recently_updated.count %></td>
  </tr>

  <tr>
    <td>Students</td>
    <td><%= User.student.count %></td>
    <td><%= User.student.recently_created.count %></td>
    <td><%= User.student.recently_updated.count %></td>
  </tr>

  <tr>
    <td>Scenarios</td>
    <td><%= Scenario.count %></td>
    <td><%= Scenario.recently_created.count %></td>
    <td><%= Scenario.recently_updated.count %></td>
  </tr>
</table>