%h2 Manage Educational Entities
%table.plain
  %tr
    %td 
      = link_to "New Educational Entity", new_admins_college_path
    %td
      - form_tag(search_admins_colleges_path, :class => "search") do
        = label_tag :q, "Search"
        = text_field_tag :q, params[:q]
        = submit_tag "Search!"
        &nbsp;&nbsp;
        = link_to "Reset", admins_colleges_path if controller.action_name == 'search'

%table
  %tr
    %th Name
    %th
  - for college in @colleges
    %tr
      %td= link_to college.value, admins_college_path(college)
      %td
        = link_to image_tag('trashcan.gif'), admins_college_path(college), :confirm => 'Are you sure?', :method => :delete
        &nbsp;&nbsp;
        = link_to image_tag('edit.gif'), edit_admins_college_path(college)
       

%br
= will_paginate @users