= content_for :main_header do
  %h1= @institution.name
  %h4 Edit

= form_for(@institution, :url => admins_institution_path(@institution), :method => :put) do |f|
  %fieldset
    = render :partial => "form", :locals => { :f => f }
    .actions
      = f.submit "Update", :class => 'btn primary'
      or
      = link_to 'Cancel', :back, :class => 'btn'
