= content_for :main_header do
  %h1 Institutions

%p.pull-right= link_to "New institution", new_admins_institution_path, :class => 'btn'
%table.zebra-striped
  %thead
    %tr
      %th Name
      %th Users
      %th Category
  %tbody
    - @institutions.each do |institution|
      %tr
        %td= link_to formatted_institution_name(institution), admins_institution_path(institution)
        %td= institution.users.count
        %td= institution.category.try(:titleize)
