#tabs
  %ul
    %li= link_to "Manage institutions", admins_institutions_path
    %li.ui-tabs-selected= link_to "New institution", new_admins_institution_path

  - form_for(@institution, :url => admins_institutions_path, :method => :post) do |f|
    = render :partial => 'form', :locals => { :f => f }
    .actions
      = submit_tag "Create"
      &nbsp;or&nbsp;
      = link_to 'Cancel', :back