= content_for :main_header do
  %h1 New Institution

= form_for(@institution, :url => admins_institutions_path, :method => :post) do |f|
  %fieldset
    = render :partial => 'form', :locals => { :f => f }
    .actions
      = f.submit "Create Institution", :class => 'btn primary'
      or
      = link_to 'Cancel', :back, :class => 'btn'
