= content_for :main_header do
  %h1= @institution.name

.well
  %p
    = link_to 'Edit', edit_admins_institution_path(@institution), :class => 'btn success'
    = link_to 'Delete', admins_institution_path(@institution), :confirm => 'Are you sure?', :method => :delete, :class => 'btn danger'
    = link_to 'Back', admins_institutions_path, :class => 'btn primary'

%div
  %h3 Members:
  %table
    %thead
      %tr
        %th Name
        %th Login
        %th Role
    %tbody
      - for user in @users
        %tr
          %td= link_to user.name, admins_user_path(user, :role => user.role)
          %td= user.login
          %td= user.role.to_s.capitalize

= will_paginate @users
