#tabs
  %ul
    %li= link_to "Groups", admins_groups_path
    %li= link_to "New Group", new_admins_group_path

  - form_for(@group, :url => admins_group_path(@group), :method => :put) do |f|
    = f.error_messages

    .field
      = f.label :name
      = f.text_field :name

    .field
      = f.label :scenarios
      %br
      = select_tag "group[scenarios_ids][]", options_from_collection_for_select(@group.instructor.scenarios, :id, :name, @group.scenarios_ids), :multiple => true

    .actions
      = f.submit
      &nbsp;or&nbsp;
      = link_to 'Cancel', :back
