#tabs
  %ul
    %li= link_to "Classes", admins_classes_path
    %li= link_to "New Class", new_admins_class_path

  = form_for(@group, :url => admins_class_path(@group), :method => :put) do |f|
    = f.error_messages

    .field
      = f.label :name
      = f.text_field :name

    .field
      = f.label :scenarios
      %br
      = select_tag "group[scenario_ids][]", options_from_collection_for_select(@group.creator.scenarios, :id, :name, @group.scenario_ids.map(&:to_i)), :multiple => true

    .actions
      = f.submit
      &nbsp;or&nbsp;
      = link_to 'Cancel', :back
