#tabs
  %ul
    %li.ui-tabs-selected= link_to "Groups", admins_classes_path
    %li= link_to "New Group", new_admins_class_path
  
  %br
  %table.listing
    %thead
      %tr
        %th Name
        %th Instructor
        %th Students
    - @groups.each do |group|
      %tr
        %td= link_to group.name, admins_class_path(group)
        %td= link_to group.instructor.name, admins_user_path(group.instructor, :role => group.instructor.role)
        %td= group.students.count
  %br
  = will_paginate @groups

