= content_for :main_header do
  %h1 Classes

%p.pull-right= link_to 'New Class', new_admins_class_path, :class => 'btn'

%table.zebra-striped
  %thead
    %tr
      %th Name
      %th Instructor
      %th Members
  %tbody
    - @groups.each do |group|
      %tr
        %td= link_to group.name, admins_class_path(group)
        %td= link_to group.creator.name, admins_user_path(group.creator, :role => group.creator.role)
        %td= group.members.count
