- content_for :js_templates do
  :plain
    $(document).ready(function() { 
      $("#group_creator_id").change(function() { 
        $.get("#{list_admins_scenarios_path}", { user_id: $(this).val() }, function(r) { $("#group_scenario_ids_").html(r) }) 
      }) 
    })
    
#tabs
  %ul
    %li= link_to "Classes", admins_classes_path
    %li.ui-tabs-selected= link_to "New Class", new_admins_class_path

  = form_for(@group, :url => admins_classes_path, :method => :post) do |f|
    = f.error_messages
    .field
      = f.label :name
      = f.text_field :name

    .field 
      = f.label :creator
      = f.select :creator_id, User.admin_instructor.collect {|user| [ user.name, user.id ] }, { :prompt => 'Please select ...'}

    .field
      = f.label :scenarios
      %br
      = select_tag "group[scenario_ids][]", options_from_collection_for_select(@instructor.created_scenarios, :id, :name, @group.scenario_ids.map(&:to_i) || []), :multiple => true

    .actions
      = f.submit
      &nbsp;or&nbsp;
      = link_to 'Cancel', :back
