- content_for :head do
  = javascript_include_tag 'tools/tooltip.min'
  - javascript_tag do
    $(document).ready(function() { $(".tip").tooltip(); });

#tabs
  %ul
    %li= link_to "Groups", admins_classes_path
    %li= link_to "New Group", new_admins_class_path
    
  #page_header
    #subject_actions
      = link_to 'Edit', edit_admins_class_path(@group)
      &nbsp;
      = link_to 'Delete', admins_class_path(@group), :confirm => 'Are you sure?', :method => :delete
      
    #subject_info
      %h2= @group.name
      .subject_details
        Lead by:
        = link_to @group.instructor.name, admins_user_path(@group.instructor, :role => @group.instructor.role)
        
  #inner_column
    %table
      %tr
        %th Code:
        %td= @group.code
      %tr
        %th Invitation URL:
        %td= membership_register_url(@group.code)
        
    %h3 Students

    - if @group.students.empty?
      %p There are no students registered under this group.
    - else
      %table
        %thead
          %tr
            %th Name
            %th Institution
            %th Email
            %th 
        - @group.students.each do |student|
          %tr
            %td= link_to student.name, admins_user_path(student, :role => student.role)
            %td= link_to student.institution.name, admins_institution_path(student.institution)
            %td= mail_to student.email
            

    %h3 Scenarios

    - if @group.group_scenarios.empty?
      %p There are no scenarios on this group.
    - else
      %table
        %thead
          %tr
            %th Name
            %th Instructor
            %th Variables 
            %th Created on
        - @group.scenarios.each do |scenario|
          %tr
            %td= link_to scenario.name, admins_scenario_path(scenario)
            %td= link_to scenario.user.name, admins_user_path(scenario.user)
            %td= scenario.scenario_variables.count
            %td= scenario.created_at.to_formatted_s(:long)
            