#tabs
  %ul
    %li.ui-tabs-selected= link_to "Instructor Scenarios", admins_scenarios_path
    %li= link_to "New Scenario", new_admins_scenario_path
    
  = render :partial => "/admins/scenarios/scenario_menu"
              
  #inner_column
    - unless UserScenario.find_by_user_id_and_scenario_id(current_user.id, @scenario.id)
      %fieldset.special
        %legend Grant Me Access
        %p After clicking the access button you will be able to access this scenario from the desktop application. 
        .access-button.subject-buttons
          = link_to admins_scenario_access_path(@scenario.id), :method => :post do
            %button.button.large-plus-button{:type => "button"} Access
        
    
    - if @scenario.public?
      %p 
        This scenario is 
        %b public
        and can be accessed by any user in the system.

    - else
      %p
        This scenario is
        %b private
        and can only be accessed by the instructor and:

      %h3 Groups
      - if @scenario.groups.empty?
        %b This scenario hasn't been yet assigned to a group.
        %br
        %br
      - else
        %table.listing
          %thead
            %tr
              %th Name
              %th Students
              %th Members
              %th Code
          - @scenario.groups.each do |group|
            %tr
              %td= link_to group.name, admins_class_path(group)
              %td= group.members.count
              %td= group.scenarios.count
              %td= group.code  
              
      - if @scenario.users.any?
        %h3 People
        %table
          %thead
            %tr
              %th Name
              %th Institution
              %th Email
              %th Role
              %th 
            - @scenario.users.each do |user|
              %tr
                %td= link_to user.name, admins_user_path(user, :role => user.role)
                %td= link_to user.institution.name, admins_institution_path(user.institution) if user.institution
                %td= mail_to user.email
                %td= user.role
                %td= link_to image_tag("trashcan.gif"), admins_scenario_access_path(@scenario, :user_id => user.id), :method => :delete, :confirm => "Are you sure?"
                