= f.error_messages

.clearfix
  = f.label :name
  .input= f.text_field :name, :class => 'xxlarge'

.clearfix
  = f.label :display_name
  .input= f.text_field :display_name, :class => 'xxlarge'

.clearfix
  = f.label :description
  .input= f.text_area :description, :rows => '3', :class => 'xxlarge'

.clearfix
  = f.label :component_code, "Component"
  .input= f.select :component_code, SystemVariable::COMPONENTS.keys.collect { |comp| [SystemVariable::COMPONENTS[comp], comp] }, {:prompt => "Please select..."}, :class => 'xxlarge'

.clearfix
  = f.label :io_type, "I/O Type"
  .input= f.select :io_type, ScenarioVariable::IO_TYPES.collect {|type| [ type.to_s.capitalize, type ] }, {:prompt => "Please select..."}, :class => 'xxlarge'

.clearfix
  = f.label :index
  .input= f.text_field :index, :class => 'xxlarge'

.clearfix
  = f.label :unit_si
  .input= f.text_field :unit_si, :class => 'xxlarge'

.clearfix
  = f.label :unit_ip
  .input= f.text_field :unit_ip, :class => 'xxlarge'

.clearfix
  = f.label :si_to_ip
  .input= f.text_field :si_to_ip, :class => 'xxlarge'

.clearfix
  = f.label :low_value
  .input= f.text_field :low_value, :class => 'xxlarge'

.clearfix
  = f.label :high_value
  .input= f.text_field :high_value, :class => 'xxlarge'

.clearfix
  = f.label :initial_value
  .input= f.text_field :initial_value, :class => 'xxlarge'

.clearfix
  = f.label :notes
  .input= f.text_area :notes, :rows => '3', :class => 'xxlarge'

.clearfix
  %legend Fault Information
  = f.label :is_fault
  .input
    %ul.inputs-list
      %li
        %label= f.check_box :is_fault

.clearfix
  = f.label :fault_is_active, "Fault active?"
  .input
    %ul.inputs-list
      %li
        %label= f.check_box :fault_is_active

.clearfix
  = f.label :fault_widget_type
  .input= f.select :fault_widget_type, Variable::FAULT_WIDGET_TYPES, :include_blank => true, :class => 'xxlarge'

.clearfix
  = f.label :disabled
  .input
    %ul.inputs-list
      %li
        %label= f.check_box :disabled

.clearfix
  = f.label :subsection
  .input= f.text_field :subsection, :class => 'xxlarge'

.clearfix
  = f.label :left_label
  .input= f.text_field :left_label, :class => 'xxlarge'

.clearfix
  = f.label :right_label
  .input= f.text_field :right_label, :class => 'xxlarge'

.clearfix
  = f.label :zone_position
  .input= f.text_field :zone_position, :class => 'xxlarge'

.clearfix
  = f.label :is_percentage
  .input
    %ul.inputs-list
      %li
        %label= f.check_box :is_percentage
