%table#sortTableExample.zebra-striped
  %thead
    %tr.ro1
      %th.yellow Code
      %th.yellow Unit SI
      %th.yellow Unit Ip
      %th.green Low
      %th.green High
      %th.green Initial
      %th.blue
        Fault
        = succeed "Type" do
          %br/
      %th.blue
        Left
        = succeed "Label" do
          %br/
      %th.blue
        Right
        = succeed "Label" do
          %br/
      %th.orange Subsection
      %th.orange
        Zone
        = succeed "Position" do
          %br/
      %th.orange Index
  %tbody
    - @scenario_variables.each do |variable|
      %tr.ro1
        %td= link_to variable.component_code, instructors_scenario_variable_path(@scenario, variable), :rel => 'popover', :title => variable.name, 'data-content' => variable.display_name
        %td= variable.unit_si
        %td= variable.unit_ip
        %td= variable.low_value
        %td= variable.high_value
        %td= variable.initial_value
        %td= variable.fault_widget_type
        %td= variable.left_label
        %td= variable.right_label
        %td= variable.subsection
        %td= variable.zone_position
        %td= variable.index
