%h2
  ="#{@scenario.name.titleize} Simulation Variables"
%p= link_to 'New Variable', new_instructors_scenario_variable_path(@scenario)
%hr

%table
  %tr
    = sort_header_tag('index', :title => 'Index')
    = sort_header_tag('component_code', :title => 'Component')
    %th Fault
    = sort_header_tag('name', :title => 'Name')
    %th Display Name
    = sort_header_tag('io_type', :title => 'Type')
    %th Low
    %th Initial
    %th High
    %th Unit SI
    %th Unit IP
    %th SI to IP
  - @scenario_variables.each do |variable|
    %tr
      %td= variable.index
      %td= variable.component
      %td= variable.is_fault ? "Yes" : "No"
      %td= link_to variable.name, instructors_scenario_variable_path(@scenario, variable)
      %td= variable.display_name
      %td= variable.io_type.to_s.upcase
      %td= variable.low_value
      %td= variable.initial_value
      %td= variable.high_value
      %td= variable.unit_si
      %td= variable.unit_ip
      %td= variable.si_to_ip
%br
= will_paginate @scenario_variables
%br

