= content_for :main_header do
  %h1 New Variable

= render :partial => "instructors/scenarios/scenario_menu"

= form_for([@scenario, @scenario_variable], :url => instructors_scenario_variables_path(@scenario)) do |f|
  %fieldset
    = render :partial => "form", :locals => { :f => f }
    .actions
      = f.submit 'Create Variable', :class => 'btn primary'
      or
      = link_to 'Cancel', instructors_scenario_variables_path(@scenario), :class => 'btn'
