%table#sortTableExample.zebra-striped
  %thead
    %tr.ro1
      %th.yellow Code
      %th.yellow Name
      %th.yellow Display
      %th.green Unit SI
      %th.green Unit Ip
      %th.blue Low
      %th.blue High
      %th.blue Initial
      %th.orange
        Fault
        = succeed "Type" do
          %br/
      %th.orange
        Left
        = succeed "Label" do
          %br/
      %th.orange
        Right
        = succeed "Label" do
          %br/
      %th.orange Subsection
      %th.orange
        Zone
        = succeed "Position" do
          %br/
      %th.orange Index
  %tbody
    - @system_variables.each do |variable|
      %tr.ro1
        %td= link_to variable.component_code, admins_master_scenario_system_variable_path(@master_scenario, variable)
        %td= variable.name
        %td= variable.display_name
        %td= variable.unit_si
        %td= variable.unit_ip
        %td= variable.low_value
        %td= variable.high_value
        %td= variable.initial_value
        %td= variable.fault_widget_type
        %td= variable.left_label
        %td= variable.right_label
        %td= variable.subsection
        %td= variable.zone_position
        %td= variable.index
