= content_for :main_header do
  %h1= @system_variable.name

= render :partial => "admins/master_scenarios/master_scenario_menu"

= form_for([@master_scenario, @system_variable], :url => admins_master_scenario_system_variable_path(@master_scenario, @system_variable), :method => :put) do |f|
  %fieldset
    = render :partial => "form", :locals => { :f => f }
    .actions
      = f.submit 'Update', :class => 'btn primary'
      &nbsp;or&nbsp;
      = link_to 'Cancel', :back, :class => 'btn'
