- content_for :js_templates do
  :plain
    $(document).ready(function() {       
      $("#select_all").click(function() {
      
        if ($(this).is(":checked")) {
          $(":checkbox[name=system_variables[]]").each(function() { $(this).attr('checked', true); })
        } else {
          $(":checkbox[name=system_variables[]]").each(function() { $(this).attr('checked', false); })
        }
      });
      
      $("form.variables input[type=submit]").click(function(){
        name = $(this).attr("name");
        
        if(name == "disable" || name=="enable") {
         if ($("form.variables input:checkbox:checked").length == 0) {
           return false;
         }
        } else if(name == "reset") {
          window.location.replace(window.location.pathname);
          return false;
        } else {
          return true;
        }
       }); 
    })

#tabs
  %ul
    %li.ui-tabs-selected= link_to "Master Scenarios", [:admins, :master_scenarios]
    %li= link_to 'New Master Scenario', [:new, :admins, :master_scenario]
    
  = render :partial => "admins/master_scenarios/master_scenario_menu"
  %br
    
  - form_tag([:admins, @master_scenario, :system_variables], :method => :get, :class => "variables") do
    %table.listing
      %thead
        %tr
          %th.select_all
            = check_box_tag "select_all"
            %label{:for => "select_all"} All
          = sort_header_tag('index', :title => 'Index')
          %th
            = sort_header_tag('component_code', {:title => 'Component'}, false)
            = filter_select_for(:component_code, Variable::COMPONENTS.to_a.map(&:reverse))
          = sort_header_tag('name', :title => 'Name')
          %th
            Disabled
            = filter_select_for(:disabled, [true, false])
          %th 
            Type
            = filter_select_for(:io_type, Variable::IO_TYPES)
          %th
            Fault
            = filter_select_for(:is_fault, [true, false])
          %th
            = submit_tag "Filter", :name => "_filter"
            = submit_tag "Reset", :name => "reset"
      - @system_variables.each do |system_variable|
        %tr
          %td= check_box_tag "system_variables[]", system_variable.id
          %td= system_variable.index
          %td= system_variable.component
          %td= link_to system_variable.name, admins_master_scenario_system_variable_path(@master_scenario, system_variable)
          %td= system_variable.disabled?
          %td= system_variable.io_type.to_s.upcase
          %td= system_variable.is_fault?
          %td
            = link_to image_tag("edit.gif"), edit_admins_master_scenario_system_variable_path(@master_scenario, system_variable)
            &nbsp;
            = link_to image_tag("trashcan.gif"), admins_master_scenario_system_variable_path(@master_scenario, system_variable), :confirm => 'Are you sure?', :method => :delete
      %tr
        %td
          = submit_tag "Enable", :name => "enable"
          = submit_tag "Disable", :name => "disable"
  %br
  = will_paginate @system_variables, :params => params.slice(:filter)
  %br
