#tabs
  %ul
    %li= link_to @master_scenario.name, admins_master_scenario_path(@master_scenario) 
    %li.ui-tabs-selected= link_to "System Variables", admins_master_scenario_system_variables_path(@master_scenario)
    %li= link_to 'New System Variable', new_admins_master_scenario_system_variable_path(@master_scenario)
    
  %br
  %table.listing
    %thead
      %tr
        = sort_header_tag('index', :title => 'Index')
        = sort_header_tag('component_code', :title => 'Component')
        = sort_header_tag('name', :title => 'Name')
        %th 
          Type
          - form_tag(admins_master_scenario_system_variables_path, :method => :get) do
            = select_tag "filter[io_type]", options_for_select(SystemVariable::IO_TYPES)
            = submit_tag "foo"
        %th Low
        %th Initial
        %th High
        %th 
    - @system_variables.each do |system_variable|
      %tr
        %td= system_variable.index
        %td= system_variable.component
        %td= link_to system_variable.name, admins_master_scenario_system_variable_path(@master_scenario, system_variable)
        %td= system_variable.io_type.to_s.upcase
        %td= system_variable.low_value
        %td= system_variable.initial_value
        %td= system_variable.high_value
        %td
          = link_to image_tag("edit.gif"), edit_admins_master_scenario_system_variable_path(@master_scenario, system_variable)
          &nbsp;
          = link_to image_tag("trashcan.gif"), admins_master_scenario_system_variable_path(@master_scenario, system_variable), :confirm => 'Are you sure?', :method => :delete
  %br
  = will_paginate @system_variables, :params => params.slice(:filter)
  %br
