- content_for :js_templates do
  :plain
    $(document).ready(function() { 
      $(".filter").change(function() { 
        if($(this).val() == "Any") {
          window.location.replace(window.location.pathname);
        } else {
          window.location.search =  "?" + $(this).attr('name') + "=" + $(this).val();
        }
      }); 
    })

#tabs
  %ul
    %li= link_to @master_scenario.name, admins_master_scenario_path(@master_scenario) 
    %li.ui-tabs-selected= link_to "System Variables", admins_master_scenario_system_variables_path(@master_scenario)
    %li= link_to 'New System Variable', new_admins_master_scenario_system_variable_path(@master_scenario)
    
  %br
  - form_tag(update_status_admins_master_scenario_system_variables_path(@master_scenario), :method => :put) do
    %table.listing
      %thead
        %tr
          %th
          = sort_header_tag('index', :title => 'Index')
          = sort_header_tag('component_code', :title => 'Component')
          = sort_header_tag('name', :title => 'Name')
          %th
            Disabled
            = filter_select_for(:disabled, [true, false])
          %th 
            Type
            = filter_select_for(:io_type, SystemVariable::IO_TYPES)
          %th
            Fault
            = filter_select_for(:is_fault, [true, false])
          %th 
      - @system_variables.each do |system_variable|
        %tr
          %td= check_box_tag "system_variable[]", system_variable.id
          %td= system_variable.index
          %td= system_variable.component
          %td= link_to system_variable.name, admins_master_scenario_system_variable_path(@master_scenario, system_variable)
          %td= system_variable.disabled?
          %td= system_variable.io_type.to_s.upcase
          %td= system_variable.is_fault?
          %td
            = link_to image_tag("edit.gif"), edit_admins_master_scenario_system_variable_path(@master_scenario, system_variable)
            &nbsp;
            = link_to image_tag("trashcan.gif"), admins_master_scenario_system_variable_path(@master_scenario, system_variable), :confirm => 'Are you sure?', :method => :delete
      %tr
        %td
          = submit_tag "Enable", :name => "enable"
          = submit_tag "Disable", :name => "disable"
  %br
  = will_paginate @system_variables, :params => params.slice(:filter)
  %br
