= content_for :main_header do
  %h1 New System Variable
  %p Note: System Variables are directly related to SPARK, so a good understanding of how Learn HVAC works with SPARK is required before adding or changing System Variables.

= render :partial => "admins/master_scenarios/master_scenario_menu"

= form_for([@master_scenario, @system_variable], :url => admins_master_scenario_system_variables_path(@master_scenario), :method => :post) do |f|
  %fieldset
    = render :partial => "form", :locals => { :f => f }
    .actions
      = f.submit 'Create', :class => 'btn primary'
      &nbsp;or&nbsp;
      = link_to 'Cancel', :back, :class => 'btn'
