- form_for(@group) do |group_form|
  = group_form.error_messages
  .field
    = group_form.label :name
    %br
    = group_form.text_field :name
  = render :partial => "group_scenarios_form", :locals => { :group_form => group_form }
  .actions
    = group_form.submit
