- form_for(@group) do |group_form|
  = group_form.error_messages
  .field
    = group_form.label :name
    %br
    = group_form.text_field :name
  .field
    = group_form.label :scenarios
    %br
    = select_tag "group[scenarios_ids][]", options_from_collection_for_select(current_user.scenarios, :id, :name, Proc.new { |s| @group.scenarios_ids.include?(s.id) }), :multiple => true
  .actions
    = group_form.submit
