.field
  = group_scenario.label :scenario_id, "Scenario"
  %br
  = group_scenario.select :scenario_id, current_user.scenarios.collect{ |s| [s.name, s.id] }
  - if group_scenario.object.new_record?
    = link_to "delete", "#delete", :class => "delete"
  - elsif @group.group_scenarios.first != group_scenarios.object
    = group_scenario.check_box :_destroy
    = group_scenario.label :_destroy, "Remove", :class => "remove"
