%h2 Your Groups
%hr

%table
  %tr
    %th Name
    %th Code
    %th Invitation URL
  - @groups.each do |group|
    %tr
      %td= group.name
      %td= group.code
      %td= membership_register_url(group.code)
      %td= link_to 'Students', group_students_path(group)
      %td= link_to 'Show', group
      %td= link_to 'Edit', edit_group_path(group)
      %td= link_to 'Destroy', group, :confirm => 'Are you sure?', :method => :delete
%br
= will_paginate @groups
%br
= link_to 'New group', new_group_path
