%h2 Your Groups
%hr

%table
  %tr
    %th Name
    %th Code
    %th Invitation URL
  - @groups.each do |group|
    %tr
      %td= link_to group.name, group
      %td= group.code
      %td= membership_register_url(group.code)
%br
= will_paginate @groups
%br
= link_to 'New group', new_group_path
