<p>
  <b>Name:</b>
  <%= @group.name %>
</p>

<p>
  <b>Code:</b>
  <%= @group.code %>
</p>

<p>
  <b>Instructor:</b>
  <%= @group.instructor_id %>
</p>


<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
