%h2= @group.name.capitalize
%p 
  = link_to 'Edit', edit_group_path(@group)
  &nbsp;|&nbsp;
  = link_to 'Delete', @group, :confirm => 'Are you sure?', :method => :delete
  &nbsp;|&nbsp;
  = link_to 'Back', groups_path

  
%fieldset
  %legend
    Registration Link

  %p
    Send students the following link to let them join this group.
  
  %p
    %b Link:
    %input{:type => "text", :value => membership_register_url(@group.code), :style => "width: 400px", :spellcheck => false}


%h3
  Group Scenarios

%p
  Group members have access to the following scenarios.

- if @group.group_scenarios.any?
  %table
    %tr
      %th Scenario
      %th Description
      
      - for scenario in @group.scenarios
        %tr
          %td= link_to scenario.name, scenario_path(scenario)
          %td= scenario.description



%h3
  Group Members

- if @group.students.any?

  %table
    %tr
      %th Name
      %th Email
      %th

      - for student in @group.students
        %tr
          %td= link_to student.name, group_student_path(@group, student)
          %td= student.email
          %td= link_to "Remove from group", group_membership_path(@group, @group.memberships.where(:student_id => student.id).first), :confirm => 'Are you sure?', :method => :delete

- else
  %p
    There are no students on this group.
