%h2= @group.name.capitalize
%p 
  = link_to 'Students', group_students_path(@group)
  &nbsp;|&nbsp;
  = link_to 'Edit', edit_group_path(@group)
  &nbsp;|&nbsp;
  = link_to 'Delete', @group, :confirm => 'Are you sure?', :method => :delete
  &nbsp;|&nbsp;
  = link_to 'Back', groups_path

%hr

%p
  %b Code:
  = @group.code
  
%p
  %b Registration url:
  = link_to membership_register_url(@group.code), membership_register_url(@group.code) 