<%= error_messages_for 'user' %>

<!--[form:user]-->

<%= hidden_field :user, :lock_version %>

<p><label for="user_login">Login</label><br/>
<%= f.text_field :login  %></p>

<p><label for="user_first_name">First name</label><br/>
<%= f.text_field :first_name  %></p>

<p><label for="user_last_name">Last name</label><br/>
<%= f.text_field :last_name  %></p>

<p><label for="user_email">Email</label><br/>
<%= f.text_field :email  %></p>

<% if @userRoles != [] %>
	<p>Role:<br/>
	<%= collection_select(:user, :role_id, @userRoles, :id, :name)%>
	</p>
<% end %>

<% if current_user.role.name="superadmin" %>
	<p>Institution:<br/>
	<%= collection_select(:user, :institution_id, Institution.find(:all), :id, :name)%>
	</p>
<%end %>



<!--[eoform:user]-->

