
<table border="0" cellpadding="0" cellspacing="0">
	<tr >
		<td valign="middle"><img src="/images/icon_users_45.png" alt = "Users Icon"/></td>
		<td width="10">&nbsp;</td>
		<td valign="bottom"><h1>Changing user password</h1></td>
	</tr>
	


	
</table>

	
	<% form_for :user, @user, :url=>{:action=>"update_password", :id=>@user} do |f| %>
	
	  	<%= error_messages_for 'user' %>

		<!--[form:user]-->
		
		
		<p><label for="user_login">Login</label> : <%= @user.login %></p>
		
		<p><label for="user_name">Name</label> : <%= @user.first_name %> <%=@user.last_name%></p>
		
		<p><label for="user_password">New Password</label><br/>
		<%= f.password_field 'password', :size=>20,  :value=>""  %></p>
		
		<p><label for="user_password">Confirm New Password</label><br/>
		<%= f.password_field 'password_confirmation', :size=>20,  :value=>""   %></p>
			
	  	<%= f.submit "Update" %>
	
	<% end %>

	<%= link_to 'Back', :action => 'list' %>