%div
  #section_icon
    = image_tag("icon_users_45.png", :alt => "Users Icon")
  #section_title
    %h1
      Manage Users
  %div
    = button_to 'Create New User', new_user_path, :class=>"createButton", :method => :get
  %div{ :style => "clear:both" }
%p
  %span
  (your user is highlighted yellow)
%table#listing
  %tr
    %th
    %th
      Institution
    %th
      Last Name
    %th
      First Name
    %th
      Login
    %th
      Role
    %th
      e-Mail
    %th{ :colspan => "4" }

    - for user in @users
      %tr{ :class => cycle("lightRow", "darkRow") }
        %td
        %td= "Institution" #user.institution.name
        %td= h user.last_name
        %td= h user.first_name
        %td
          %b= h user.login
        %td= h user.role.capitalize
        %td= h user.email
        %td= link_to 'Show', user_path(user)
        %td= link_to 'Edit', edit_user_path(user)
        %td= link_to 'Change Pwd', '#', :id => user
        %td= link_to 'Destroy', user_path(user), :confirm => 'Are you sure you want to destroy this user?', :method=>:delete