%div
  #section_icon
    = image_tag("icon_users_45.png", :alt => "Users Icon")
  #section_title
    %h1
      Manage Users
  %div
    = button_to 'Create New User', new_user_path, :class=>"createButton", :method => :get
  %div{ :style => "clear:both" }
%p
  %span
  (your user is highlighted yellow)
%table#listTable{ :cellspacing => "0", :cellpadding => "2" }
  %tr#listHeader
    %th
    %th{ :align => "left" }
      Institution
    %th{ :align => "left" }
      Last Name
    %th{ :align => "left" }
      First Name
    %th{ :align => "left" }
      Login
    %th{ :align => "left" }
      Role
    %th{ :align => "left" }
      e-Mail
    %th{ :colspan => "4" }

    - for user in @users
      %tr{ :class => cycle("lightRow", "darkRow") }
        %td
        %td= "Institution" #user.institution.name
        %td{ :align => "left" }= h user.last_name
        %td{ :align => "left" }= h user.first_name
        %td{ :align => "left" }
          %b{ :style => "color:#CC0000;" }= h user.login
        %td{ :align => "left" }= h user.role.capitalize
        %td{ :align => "left" }= h user.email
        %td= link_to 'Show', user_path(user)
        %td= link_to 'Edit', edit_user_path(user)
        %td= link_to 'Change Pwd', '#', :id => user
        %td= link_to 'Destroy', user_path(user), :confirm => 'Are you sure you want to destroy this user?', :method=>:delete