<div style="float: left;">
<p>
  <b>Login:</b> <%=h @user.login %>
</p>
<p>
  <b>Role:</b> <%=h @user.role.name %>
</p>
<p>
  <b>First Name:</b> <%=h @user.first_name %>
</p>
<p>
  <b>Last Name:</b> <%=h @user.last_name %>
</p>
<p>
  <b>E-Mail:</b> <%=h @user.email %>
</p>
</div>

<div id="moderatorships">
	<% form_for @user.moderatorships.build do |f| -%>
	<h3>Forums Moderation</h3>

	<% unless @user.forums.empty? -%>

	<p>This user can moderate the following forums. Click one to remove.</p>

	<ul class="flat">
	<% @user.forums.moderatable.each do |forum| -%>
	  <li>
	    <%= link_to forum.name, moderatorship_path(forum.moderatorship_id), :method => :delete, :confirm => I18n.t('txt.admin.remove_user_as_moderator', :default => 'Remove user as moderator for {{forum}}?', :forum => forum.name) %>
	  </li>
	<% end -%>
	</ul>
	<% end -%>

	<% unless @user.available_forums.empty? -%>
	<p>
	<label><%= I18n.t 'txt.admin.add_as_moderator', :default => 'Add as moderator' %></label><br />
	<%= f.select :forum_id, @user.available_forums.collect { |forum| [forum.name, forum.id] }, :include_blank => " - " %>
	</p>
	<p> <%= f.submit I18n.t 'txt.save', :default => 'Save' %> <%= f.hidden_field :user_id %> </p>
	<% end %>

	<% end %>
</div>

<div style="clear: both;">

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back to user list', users_path %>
