= content_for :main_header do
  %h1= current_user.name

.well= link_to 'Edit', edit_profile_path, :class => 'btn success'

%table
  %tr
    %td
      %strong Location:
    %td= location_for current_user
  %tr
    %td
      %strong Login:
    %td= current_user.login
  %tr
    %td
      %strong E-Mail:
    %td= mail_to current_user.email
  - if current_user.phone.present?
    %tr
      %td
        %strong Phone:
      %td= current_user.phone
  %tr
    %td
      %strong Time Zone:
    %td= current_user.time_zone

  %tr
    %td
      %strong Member since:
    %td= current_user.created_at.to_date.to_formatted_s(:long)
