#tabs
  %ul
    %li.ui-tabs-selected= link_to current_user.role.to_s.capitalize, profile_path
  
  .subject-buttons.ui-helper-clearfix
    %ul
      %li
        = link_to(edit_profile_path) do
          %button.button.medium-green-button{:type => "button"} Edit
  
  %h2= current_user.name
  
  #location.ui-widget.ui-widget-content.ui-corner-all
    %h4 location
    %p
      = image_tag "globe_32.png"
      = location_for(current_user)

  #inner_column
    %table
      %tr
        %th Login:
        %td= current_user.login
      %tr
        %th E-Mail:
        %td= mail_to current_user.email
      - if current_user.phone.present?
        %tr
          %th Phone:
          %td= current_user.phone
      %tr
        %th Time Zone:
        %td= current_user.time_zone
          
      %tr
        %th Member since:
        %td= current_user.created_at.to_date.to_formatted_s(:long)
      - if current_user.role.eql?:guest
        %tr
          %th Update account to instructor:
          %td
            = link_to "Update!","/profile/upgrade"
            
        
