= f.error_messages
.field
  = f.label :name  
  = f.text_field :name

.field
  = f.label :display_name  
  = f.text_field :display_name

.field
  = f.label :description  
  = f.text_area :description

.field
  = f.label :component_code, "Component"  
  = f.select :component_code, SystemVariable::COMPONENTS.keys.collect { |comp| [SystemVariable::COMPONENTS[comp], comp] }

.field
  = f.label :type_code, "I/O Type"  
  = f.select :type_code, ScenarioVariable::TYPES.keys.collect {|type| [ type, ScenarioVariable::TYPES[type] ] }

.field
  = f.label :index  
  = f.text_field :index

.field
  = f.label :unit_si  
  = f.text_field :unit_si

.field
  = f.label :unit_ip  
  = f.text_field :unit_ip

.field
  = f.label :min_value  
  = f.text_field :min_value

.field
  = f.label :default_value  
  = f.text_field :default_value

.field
  = f.label :max_value  
  = f.text_field :max_value

.field
  = f.label :notes  
  = f.text_area :notes

%fieldset
  %legend
    Fault Information

  .field
    = f.label :is_fault
    = f.check_box :is_fault

  .field
    = f.label :fault_widget_type  
    = f.text_field :fault_widget_type

  .field
    = f.label :subsection  
    = f.text_field :subsection

  .field
    = f.label :left_label  
    = f.text_field :left_label

  .field
    = f.label :right_label  
    = f.text_field :right_label

  .field
    = f.label :zone_position  
    = f.text_field :zone_position

  .field
    = f.label :is_percentage  
    = f.check_box :is_percentage

.actions
  = f.submit