%h2= "Listing System Variables for #{@scenario.name}"
%hr

%table
  %tr
    %th Comp
    %th Fault
    %th Name
    %th Display Name
    %th Description
    %th Type
    %th Min
    %th Default
    %th Max
    %th Unit SI
    %th Unit IP
    %th SI to IP
    %th Disabled
  - @scenario_variables.each do |scenario_system_variable|
    %tr
      %td comp
      %td fault
      %td= scenario_system_variable.name
      %td= scenario_system_variable.display_name
      %td= scenario_system_variable.description
      %td= scenario_system_variable.io_type
      %td= scenario_system_variable.min_value
      %td= scenario_system_variable.default_value
      %td= scenario_system_variable.max_value
      %td= scenario_system_variable.unit_si
      %td= scenario_system_variable.unit_ip
      %td= scenario_system_variable.si_to_ip
      %td= scenario_system_variable.global_disable
      %td= link_to 'Show', scenario_scenario_variable_path(@scenario, scenario_system_variable)
      %td= link_to 'Edit', edit_scenario_scenario_variable_path(@scenario, scenario_system_variable)
      %td= link_to 'Destroy', scenario_scenario_variable_path(@scenario, scenario_system_variable), :confirm => 'Are you sure?', :method => :delete
%br
= will_paginate @scenario_variables
%br
= link_to 'New System Var', new_scenario_scenario_variable_path(@scenario)
