%p
  %b
    Name:
  = @scenario_variable.name
%p
  %b
    Display name:
  = @scenario_variable.display_name
%p
  %b
    Index:
  = @scenario_variable.index
%p
  %b
    Description:
  = @scenario_variable.description
%p
  %b
    I/O type:
  = @scenario_variable.io_type
%p
  %b
    Min value:
  = @scenario_variable.description
%p
  %b
    Default value:
  = @scenario_variable.default_value
%p
  %b
    Max value:
  = @scenario_variable.max_value
%p
  %b
    Unit SI
  = @scenario_variable.unit_si
%p
  %b
    Unit IP
  = @scenario_variable.unit_ip
%p
  %b
    SI to IP
  = @scenario_variable.si_to_ip
%p
  %b
    Fault?
  = @scenario_variable.is_fault
%p
  %b
    Global disable:
  = @scenario_variable.global_disable
%p
  %b
    Left label:
  = @scenario_variable.left_label
%p
  %b
    Right label:
  = @scenario_variable.right_label
%p
  %b
    Subsection:
  = @scenario_variable.subsection
%p
  %b
    Zone position:
  = @scenario_variable.zone_position
%p
  %b
    Subsection:
  = @scenario_variable.subsection
%p
  %b
    Is percentage:
  = @scenario_variable.is_percentage
%p
  %b
    Fault widget type:
  = @scenario_variable.fault_widget_type
%p
  %b
    Notes:
  = @scenario_variable.notes
%p
  %b
    Lock version:
  = @scenario_variable.lock_version
%p
  %b
    Node sequence:
  = @scenario_variable.node_sequence

= link_to 'Edit', edit_scenario_scenario_variable_path(@scenario, @scenario_variable)
|
= link_to 'Back', scenario_scenario_variables_path(@scenario)

