%h2= "#{@master_scenario.name.capitalize}/System Variables #{@system_variable_version.name} -v# #{@version.version}"

%p
  = link_to 'Back', admin_master_scenario_master_version_variable_versions_path(@master_scenario, @version.version)

%hr  

%p
  %b
    Name:
  = @system_variable_version.name
%p
  %b
    Display name:
  = @system_variable_version.display_name
%p
  %b
    Index:
  = @system_variable_version.index
%p
  %b
    Description:
  = @system_variable_version.description
%p
  %b
    I/O type:
  = @system_variable_version.io_type
%p
  %b
    Component:
  = @system_variable_version.component
%p
  %b
    Min value:
  = @system_variable_version.description
%p
  %b
    Default value:
  = @system_variable_version.default_value
%p
  %b
    Max value:
  = @system_variable_version.max_value
%p
  %b
    Unit SI
  = @system_variable_version.unit_si
%p
  %b
    Unit IP
  = @system_variable_version.unit_ip
%p
  %b
    SI to IP
  = @system_variable_version.si_to_ip
%p
  %b
    Fault?
  = @system_variable_version.is_fault
%p
  %b
    Left label:
  = @system_variable_version.left_label
%p
  %b
    Right label:
  = @system_variable_version.right_label
%p
  %b
    Subsection:
  = @system_variable_version.subsection
%p
  %b
    Zone position:
  = @system_variable_version.zone_position
%p
  %b
    Subsection:
  = @system_variable_version.subsection
%p
  %b
    Is percentage:
  = @system_variable_version.is_percentage
%p
  %b
    Fault widget type:
  = @system_variable_version.fault_widget_type
%p
  %b
    Notes:
  = @system_variable_version.notes
%p
  %b
    Lock version:
  = @system_variable_version.lock_version
%p
  %b
    Node sequence:
  = @system_variable_version.node_sequence

%p
  = link_to 'Back', admin_master_scenario_master_version_variable_versions_path(@master_scenario, @version.version)
