- content_for :head do
  = render :partial => 'shared/user_form_js', :locals => { :u => @user }

= error_messages_for 'user'
.field
  = f.label :login
  = f.text_field :login

.field
  = f.label :first_name, "First Name"
  = f.text_field :first_name

.field
  = f.label :last_name, "Last Name"
  = f.text_field :last_name

.field
  = f.label :country
  = f.country_select :country, ['United States', 'Canada']

.field#states
  = f.label :state, "State/Region"
  = f.text_field :state

.field
  = f.label :city
  = f.text_field :city

.field
  = f.label :email
  = f.text_field :email
  
.field
  = f.label :phone
  = f.text_field :phone

.field
  = f.label :password
  = f.password_field :password, :size=>20,  :value=>""

.field
  = f.label :password_confirmation, "Password Confirmation"	
  = f.password_field :password_confirmation, :size=>20,  :value=>""

.field
  = f.label :role
  = f.select(:role_code, User::ROLES.keys.collect{|k| [k.to_s.gsub("_", " ").capitalize, User::ROLES[k]]})

.field
  = f.label :institution_id
  = f.collection_select(:institution_id, Institution.all, :id, :name)
  
.field
  = f.label :time_zone
  = f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones

.field
  = f.label :enabled
  = f.check_box :enabled