%ul.users-list
  %li= link_to 'Admins',admins_users_path(:role => :admin),:class => 'button'
  %li= link_to 'Inst. Managers',admins_users_path(:role => :manager),:class => 'button'
  %li= link_to 'Instructors',admins_users_path(:role => :instructor),:class => 'button'
  %li= link_to 'Students',admins_users_path(:role => :student),:class => 'button'
  %li= link_to 'Guests',admins_users_path(:role => :guest),:class => 'button'
  %li= link_to "New #{params[:role].humanize}", new_admins_user_path("role" => params[:role]), :class => 'button'