%table
  %tr
    %td
      %strong Location:
    %td= location_for @user
  %tr
    %td
      %strong Institution:
    %td= link_to @user.institution.name, admins_institution_path(@user.institution) if @user.institution
  %tr
    %td
      %strong Login:
    %td= @user.login
  %tr
    %td
      %strong E-Mail:
    %td= mail_to @user.email
  - if @user.phone.present?
    %tr
      %td
        %strong Phone:
      %td= @user.phone
  %tr
    %td
      %strong Status:
    %td= @user.enabled? ? "Enabled" : "Disabled"
  %tr
    %td
      %strong Time Zone:
    %td= @user.time_zone
  %tr
    %td
      %strong Created on:
    %td= @user.created_at.to_formatted_s(:long)
