= content_for :main_header do
  %h1= @user.name
  %h4 Edit

.well
  = link_to 'Cancel', admins_user_path(@user, :role => params[:role]), :class => 'btn success'

= form_for(@user, :url => admins_user_path(@user, :role => params[:role]), :method => :put) do |f|
  %fieldset
    = render :partial => "form", :locals => {:f => f}
    .actions
      = f.submit "Update", :class => 'btn primary'
      or
      = link_to 'Cancel', :back, :class => 'btn'
