#tabs
  %ul
    %li.ui-tabs-selected= link_to "Manage #{params[:role].pluralize.humanize}", admins_users_path("role" => params[:role])
    %li= link_to "New #{params[:role].humanize}", new_admins_user_path("role" => params[:role])


  - form_tag(search_admins_users_path(:role => params[:role]), :class => "search") do
    = label_tag :q, "Search"
    = text_field_tag :q, params[:q]
    = submit_tag "Search!"
    &nbsp;&nbsp;
    = link_to "Reset", admins_users_path(:role => params[:role]) if controller.action_name == 'search'
  
  - if ['manager', 'instructor', 'student'].include?(params[:role])
    - form_tag(filter_admins_users_path(:role => params[:role]), :class => "search") do
      = label_tag :institution_id
      = select_tag(:institution_id, options_from_collection_for_select(Institution.all, "id", "name", params[:institution_id]), { :include_blank => "Please select..." })
      = submit_tag "Filter!"
      &nbsp;&nbsp;
      = link_to "Reset", admins_users_path(:role => params[:role]) if controller.action_name == 'filter'

  %br
  %table#users.listing
    %thead
      %tr
        %th Name
        %th Institution
    %tbody
      - for user in @users
        %tr
          %td= link_to user.name, admins_user_path(user, :role => params[:role])
          %td= user.institution.try(:name).try(:capitalize)
             
  %br
  = search_pagination_for(@users, :params => {:q => params[:q], :institution_id => params[:institution_id] })
