#tabs
  %ul
    %li= link_to "Manage #{params[:role].pluralize.humanize}", admins_users_path("role" => params[:role])
    %li.ui-tabs-selected= link_to "New #{params[:role].humanize}", new_admins_user_path("role" => params[:role])

  = form_for(@user,:url => admins_users_path(:role => params[:role]), :method => :post) do |f|
    = render :partial => "form", :locals => { :f => f }
    .actions
      = submit_tag "Create"
      &nbsp;or&nbsp;
      = link_to 'Cancel', :back

