= content_for :main_header do
  %h1 New #{params[:role].titleize}

.well
  = link_to 'Cancel', admins_users_path(:role => params[:role]), :class => 'btn success'

= form_for(@user,:url => admins_users_path(:role => params[:role]), :method => :post) do |f|
  %p Complete form below to create a new user.
  %fieldset
    = render :partial => "form", :locals => { :f => f }

    .actions
      = f.submit "Create", :class => 'btn primary'
      or
      = link_to 'Cancel', :back, :class => 'btn'
