#tabs
  %ul
    %li.ui-tabs-selected= link_to "Manage #{@user.role.to_s.pluralize.humanize}", admins_users_path(:role => @user.role)
    %li= link_to "New #{@user.role.to_s.humanize}", new_admins_user_path(:role => @user.role)

  .subject-buttons.ui-helper-clearfix
    %ul
      %li
        = link_to(edit_admins_user_path(@user, :role => @user.role)) do
          %button.button.large-green-button{:type=>"button"} Edit User
       
      %li
        = link_to admins_user_path(@user, :role => @user.role), :confirm => 'Are you sure?', :method => :delete do
          %button.button.large-red-button{:type => "button"} Delete User

  %h2.subject-name= @user.name
  .subject_details
    - if @user.institution
      #{@user.role} at #{link_to @user.institution.name, admins_institution_path(@user.institution)}
    - else
      = @user.role
  
  #location.ui-widget.ui-widget-content.ui-corner-all
    %h4 location
    %p
      = image_tag "globe_32.png"
      = location_for(@user)
	
  #inner_column
    %table
      %tr
        %th Login:
        %td= @user.login
      %tr
        %th E-Mail:
        %td= mail_to @user.email
      - if @user.phone.present?
        %tr
          %th Phone:
          %td= @user.phone
      %tr
        %th Status:
        %td= @user.enabled? ? "Enabled" : "Disabled"
      %tr
        %th Created on:
        %td= @user.created_at.to_formatted_s(:long)

