#tabs
  %ul
    %li= link_to "Manage #{@user.role.to_s.pluralize.humanize}", admins_users_path(:role => @user.role)
    %li= link_to "New #{@user.role.to_s.pluralize.humanize}", new_admins_user_path(:role => @user.role)

  #page_header
    #subject_actions
      = link_to 'Edit this person', edit_admins_user_path(@user, :role => @user.role)

    #subject_info
      %h2= @user.name
      .subject_details
        - if @user.institution
          #{@user.role} at #{link_to @user.institution.name, admins_institution_path(@user.institution)}
        - else
          #{@user.role}
  
  #location.ui-widget.ui-widget-content.ui-corner-all
    %h4 location
    %p
      = image_tag "globe_32.png"
      = location_for(@user)
	
  #inner_column
    %table
      %tr
        %th Login:
        %td= @user.login
      %tr
        %th E-Mail:
        %td= mail_to @user.email
      %tr
        %th Status:
        %td= @user.enabled? ? "Enabled" : "Disabled"
      %tr
        %th Created on:
        %td= @user.created_at.to_formatted_s(:long)

