= content_for :main_header do
  %h1= @user.name

.well
  %p
    = link_to 'Edit', edit_admins_user_path(@user, :role => @user.role), :class => 'btn success'
    &nbsp;
    = link_to 'Delete', admins_user_path(@user, :role => @user.role), :confirm => 'Are you sure?', :method => :delete, :class => 'btn danger'

- unless @user.has_role?(:student)
  = render @user
- else
  = render :partial => 'student'
