#tabs
  -# %ul
  -#   %li.ui-tabs-selected= link_to "Manage #{@user.role.to_s.pluralize.humanize}", admins_users_path(:role => @user.role)


  .subject-buttons.ui-helper-clearfix
    %ul
      %li= link_to "New #{@user.role.to_s.humanize}", new_admins_user_path(:role => @user.role), :class => 'button'
      %li
        = link_to(edit_admins_user_path(@user, :role => @user.role)) do
          %button.button.medium-green-button{:type=>"button"} Edit
       
      %li
        = link_to admins_user_path(@user, :role => @user.role), :confirm => 'Are you sure?', :method => :delete do
          %button.button.medium-red-button{:type => "button"} Delete

  %h2.subject-name= @user.name
  
  - unless @user.has_role?(:student)
    = render @user
  - else
    = render :partial => 'student'

