= content_for :main_header do
  %h1= @user.name

%p.pull-right
  = link_to(edit_admins_user_path(@user, :role => @user.role), :class => 'no-decoration') do
    %button.btn.success Edit
  = link_to admins_user_path(@user, :role => @user.role), :confirm => 'Are you sure?', :method => :delete, :class => 'no-decoration' do
    %button.btn.danger Delete

- unless @user.has_role?(:student)
  = render @user
- else
  = render :partial => 'student'
