%h2 Revisions of #{@master_scenario.name}

%p List of revisions to this scenario.

%p= link_to 'Back to latest version of scenario', admin_master_scenario_path(@master_scenario)
%hr

%table
  %tr
    %th Version
    %th Updated at
  - @versions.each do |version|
    %tr
      %td= version.version
      %td= link_to version.updated_at.to_formatted_s(:long), admin_master_scenario_revision_path(@master_scenario, version.version)
%br
= will_paginate @versions

