%h2="#{@master_scenario.name.capitalize} -version# #{@version.version}"

%p
  = link_to "View variables", admin_master_scenario_revision_variables_path(@master_scenario, @version.version)
  &nbsp;|&nbsp;
  = link_to 'Back', admin_master_scenario_revisions_path(@master_scenario)

%hr

%p 
  %b
    Name:
  = @version.name

%p 
  %b
    Author:
  = @version.user.name

%p
  %b
    Description:
  = @version.description

%p
  %b
    Tags:
  = @version.tag_list

%p 
  %b
    Created on:
  = @version.created_at.to_formatted_s(:long)

%p
  %b 
    Last updated:
  = @version.updated_at.to_formatted_s(:long)
