- content_for :head do
  - javascript_tag do
    :plain
      $(document).ready(function(){

        $("#master_scenario_tag_list").autocomplete({
          source: "#{tags_admin_master_scenarios_path}",
          select: function(event, ui) { return false; },
          focus: function(event, ui) { return false; }
        });

        $("#master_scenario_tag_list" ).bind("autocompleteselect", 
          function(event, ui) {
            _tags = $(this).val().replace(/ /g,'').split(",")
            _tags[_tags.length - 1] = ui.item.value + ", "
            $(this).val(_tags.join(", "))
        });
      });

= f.error_messages
.field
  = f.label :name
  = f.text_field :name

.field
  = f.label :description
  = f.text_area :description

.field
  = f.label :tag_list, "Tags"
  = f.text_field :tag_list
  Comma separated.

.actions
  = f.submit
  &nbsp;&nbsp;
  = link_to 'Back', :back