%h2= "Master Scenarios tagged as #{params[:tag]}"
%p= link_to 'Master Scenarios', admin_master_scenarios_path
%hr

%table
  %tr
    %th Name
    %th Author
    %th
  - @master_scenarios.each do |master_scenario|
    %tr
      %td= link_to master_scenario.name, admin_master_scenario_path(master_scenario)
      %td= master_scenario.user.name
      %td 
        = link_to "System vars.", admin_master_scenario_system_variables_path(master_scenario)
%br
= will_paginate @master_scenarios

