%h2= @client_version.version
%p
  = link_to 'Edit Version', edit_admins_client_version_path(@client_version)
  &nbsp;|&nbsp;
  = link_to 'Delete Version', admins_client_version_path(@client_version), :confirm => 'Are you sure?', :method => :delete
  &nbsp;|&nbsp;
  = link_to 'Back', admins_client_versions_path
%hr

%p
  %b Version:
  = @client_version.version

%p
  %b URL:
  = link_to @client_version.url, @client_version.url

%p
  %b Release date:
  = @client_version.release_date

%p
  %b Description:
  = @client_version.description

