= f.error_messages
.field
  = f.label :version
  = f.text_field :version

.field 
  = f.label :url
  = f.text_field :url

.field 
  = f.label :release_date
  = f.date_select :release_date

.actions
  = f.submit
  &nbsp;or&nbsp;
  = link_to 'Cancel', :back