= content_for :main_header do
  %h1 Dashboard
  %p This is the instructor dashboard of the LearnHVAC website.

%table.zebra-striped
  %thead
    %tr
      %th Name
      %th Master Scenario
      %th Created On
      %th People With Access
  %tbody
    - if 0 < @scenarios.count
      - @scenarios.each do |scenario|
        %tr
          %td= link_to scenario.name, instructors_scenario_path(scenario)
          %td
            - if scenario.master_scenario
              = scenario.master_scenario.name
            - else
              %em Master Scenario was deleted
          %td= scenario.created_at.to_formatted_s(:long)
          %td= scenario.users.count
    - else
      %tr
        %td{:colspan => '4', :style => 'text-align: center;'}
          %em No scenarios
