%h2 Instructor Dashboard
%p This is the instructor dashboard of the LearnHVAC website.
%hr
%table
  %tr
    %th 
    %th All
    %th Recently Added
    %th Recently Updated
  %tr
    %td Scenarios
    %td= Scenario.count
    %td= Scenario.recently_created.count
    %td= Scenario.recently_updated.count
    
- if @unreviewed_scenarios.any?
  %hr
  %h2 Notifications
  %p The master scenario for some of your scenarios have been changed.
  %p=link_to 'all notifications', instructors_scenario_alerts_path(:all)
    
  
  %table
    %tr
      %th Scenario
      %th Master Scenario
      %th Changes Description
      %th Changes Date
    - @unreviewed_scenarios.each do |scenario|
      - scenario.scenario_alerts.unread.limit(5).each do |alert|
        %tr
          %td= scenario.name
          %td= alert.master_scenario.try(:name)
          %td= alert.description
          %td= alert.created_at.to_s(:db)
          %td= link_to "close", instructors_scenario_alert_path(scenario, alert), :method => :put
