.well
  - if controller_name == 'variables' and action_name == 'index'
    %button{:id => 'filterbutton', :class => 'btn primary'} Filter
  = link_to 'Manage Access', [:instructors, @scenario, :accesses], :class => 'btn'
  = link_to "Manage Variables", instructors_scenario_variables_path(@scenario), :class => 'btn'

  %p.pull-right
    - if @subject_buttons == :scenario
      = link_to 'Edit Scenario', edit_instructors_scenario_path(@scenario), :class => 'btn success small'
      - if @scenario.groups.empty?
        = link_to 'Delete Scenario', instructors_scenario_path(@scenario), :confirm => 'Are you sure?', :method => :delete, :class => 'btn danger small'
      - else
        = link_to 'Delete Scenario', instructors_scenario_path(@scenario), :confirm => 'Are you sure? This scenario is used by one or more groups right now.', :method => :delete, :class => 'btn danger small'

      - if controller_name == 'variables' and action_name == 'index'
        = link_to 'Export to CSV', instructors_scenario_variables_path(@scenario, :format => :csv), :class => 'btn primary small'

    - elsif @subject_buttons == :cancel_scenario
      - if %(edit update).include?(controller.action_name)
        = link_to 'Cancel', instructors_scenario_path(@scenario), :class => 'btn success'
      - elsif %(new create).include?(controller.action_name)
        = link_to 'Cancel', instructors_scenarios_path, :class => 'btn success'

    - elsif @subject_buttons == :variable
      = link_to 'Edit Variable', edit_instructors_scenario_variable_path(@scenario, @scenario_variable), :class => 'btn success'
      = link_to 'Delete Variable', instructors_scenario_variable_path(@scenario, @scenario_variable), :confirm => 'Are you sure?', :method => :delete, :class => 'btn danger'

    - elsif @subject_buttons == :cancel_variable
      - if %(edit update).include?(controller.action_name)
        = link_to 'Cancel', instructors_scenario_variable_path(@scenario, @scenario_variable), :class => 'btn success'
      - elsif %(new create).include?(controller.action_name)
        = link_to 'Cancel', instructors_scenario_variables_path(@scenario), :class => 'btn success'

#filter_panel.well.hide
  = form_for :filter, :url => instructors_scenario_variables_path([@scenario]), :html => {:method => :get} do |f|
    %fieldset
      .clearfix
        %label Display options:
        .input
          %ul.inputs-list
            %li
              %label
                = check_box_tag :disabled, 1, params[:disabled]
                %span Disabled variables
            %li
              %label
                = check_box_tag :is_fault, 1, params[:is_fault]
                %span Fault variables
            %li
              %label
                = check_box_tag :fault_is_active, 1, params[:fault_is_active]
                %span Fault is active
        .input= f.submit 'Apply', :class => 'btn info'
