.subject-buttons
  - if @subject_buttons == :scenario
    = link_to(edit_instructors_scenario_path(@scenario)) do
      %button.button.large-green-button{:type=>"button"} Edit Scenario
  
    = link_to instructors_scenario_path(@scenario), :confirm => 'Are you sure?', :method => :delete do
      %button.button.large-red-button{:type => "button"} Delete Scenario

  - elsif @subject_buttons == :cancel_scenario
    - if %(edit update).include?(controller.action_name)
      = link_to(instructors_scenario_path(@scenario)) do
        %button.button.medium-green-button{:type => "button"} Cancel
    - elsif %(new create).include?(controller.action_name)
      = link_to(instructors_scenarios_path) do
        %button.button.medium-green-button{:type => "button"} Cancel
  
  - elsif @subject_buttons == :variable
    = link_to(edit_instructors_scenario_variable_path(@scenario, @scenario_variable)) do
      %button.button.large-green-button{:type=>"button"} Edit Variable
  
    = link_to instructors_scenario_variable_path(@scenario, @scenario_variable), :confirm => 'Are you sure?', :method => :delete do
      %button.button.large-red-button{:type => "button"} Delete Variable
  
  - elsif @subject_buttons == :cancel_variable
    - if %(edit update).include?(controller.action_name)
      = link_to(instructors_scenario_variable_path(@scenario, @scenario_variable)) do
        %button.button.medium-green-button{:type => "button"} Cancel
    - elsif %(new create).include?(controller.action_name)
      = link_to(instructors_scenario_variables_path(@scenario)) do
        %button.button.medium-green-button{:type => "button"} Cancel


- if @scenario.new_record?
  %h2.subject-name New Scenario

- else
  %h2.subject-name= link_to @scenario.name, instructors_scenario_path(@scenario)
  %p.subject-description
    =@scenario.description
  
  #inner-tabs
    %ul
      %li{:class => ("ui-tabs-selected" if @inner_tabs == :scenario_details)}= link_to "Scenario Details", instructors_scenario_path(@scenario)
      %li{:class => ("ui-tabs-selected" if @inner_tabs == :manage_variables)}= link_to "Manage Variables", instructors_scenario_variables_path(@scenario)
      %li{:class => ("ui-tabs-selected" if @inner_tabs == :manage_access)}= link_to 'Manage Access', instructors_scenario_accesses_path(@scenario)
      %li{:class => ("ui-tabs-selected" if @inner_tabs == :new_variable)}= link_to 'New Variable', new_instructors_scenario_variable_path(@scenario)
  
