#tabs
  %ul
    %li.ui-tabs-selected= link_to "Scenarios", instructors_scenarios_path
    %li= link_to "New Scenario", new_instructors_scenario_path
    
  #page_header
    #subject_actions
      = link_to "Scenario", instructors_scenario_path(@scenario)
      &nbsp;
      = link_to "Manage Variables", instructors_scenario_variables_path(@scenario)
      &nbsp;
      = link_to 'Who has access?', access_instructors_scenario_path(@scenario)

    #subject_info
      %h2= @scenario.name
      .subject_details= @scenario.public? ? "Public" : "Private"
    
  #inner_column
    - if @scenario.public?
      %p 
        This scenario is 
        %b public
        and can be accessed by any user in the system.

    - else
      %p
        This scenario is
        %b private
        and can only be accessed by you and:

      %h3 Groups
      - if @scenario.groups.empty?
        %b This scenario hasn't been yet assigned to a group.
      - else
        %table.listing
          %thead
            %tr
              %th Name
          - @scenario.groups.each do |group|
            %tr
              %td= link_to group.name, instructors_class_path(group)
