= content_for :main_header do
  %h1= @scenario.name
  %h4 Edit
= render :partial => "scenario_menu"

= form_for(@scenario, :url => instructors_scenario_path(@scenario)) do |f|
  %fieldset
    = render :partial => "form", :locals => { :f => f }
    .actions
      = f.submit 'Update Scenario', :class => 'btn primary'
      or
      = link_to 'Cancel', :back, :class => 'btn'
