#tabs
  %ul
    %li.ui-tabs-selected= link_to "Scenarios", instructors_scenarios_path
    %li= link_to "New Scenario", new_instructors_scenario_path

  #page_header
    #subject_actions
      = link_to 'Cancel', instructors_scenario_path(@scenario)

  = form_for(@scenario, :url => instructors_scenario_path(@scenario)) do |f|
    = render :partial => "form", :locals => { :f => f }
