%h2 Your Scenarios

%p
  = link_to 'New scenario', new_instructors_scenario_path

%hr

%table.scenarios
  %tr
    %th Name
    %th Description
  - @scenarios.each do |scenario|
    %tr
      %td
        = link_to scenario.name, instructors_scenario_path(scenario)
        - if scenario.scenario_alerts.unread.any?
          %span
            = pluralize(scenario.scenario_alerts.unread.size, 'new change')
            = link_to('review', instructors_scenario_alerts_path(scenario))
      %td= scenario.description
%br
= will_paginate @scenarios

