#tabs
  %ul
    %li.ui-tabs-selected= link_to "Scenarios", instructors_scenarios_path
    %li= link_to "New Scenario", new_instructors_scenario_path
  
  %br
  %table.listing
    %thead
      %tr
        %th Name
        %th Master Scenario
        %th Created on
        %th Desktop Application
    - @scenarios.each do |scenario|
      %tr
        %td= link_to scenario.name, instructors_scenario_path(scenario)
        %td= scenario.master_scenario.name
        %td= scenario.created_at.to_formatted_s(:long)
        %td
          - if scenario.client_version
            = link_to scenario.client_version.url do
              %button{:type => :button}="Download"
          - else
            ="Not available for  download"

  %br
  = will_paginate @scenarios

