= content_for :main_header do
  %h1 New Scenario

= form_for(@scenario, :url => instructors_scenarios_path) do |f|
  %fieldset
    = render :partial => "form", :locals => { :f => f }
    .actions
      = f.submit 'Create Scenario', :class => 'btn primary'
      or
      = link_to 'Cancel', instructors_scenarios_path, :class => 'btn'
