= content_for :main_header do
  - if @scenario.new_record?
    %h1 New Scenario

  - else
    %h1= @scenario.name
    %p= @scenario.description
    - if @scenario.master_scenario.blank?
      %p.subject-description
        %em The master scenario used to create this scenario has been deleted.

= render :partial => "scenario_menu"

%table
  - if @scenario.original_author
    %tr
      %td
        %strong Original Author:
      %td= @scenario.original_author.name
  %tr
    %td
      %strong Author:
    %td= @scenario.user.name
  %tr
    %td
      %strong Created on:
    %td= @scenario.created_at.to_formatted_s(:long)
  %tr
    %td
      %strong Client version:
    %td
      - if @scenario.client_version
        = @scenario.client_version.version
      - else
        %em No client selected.
  %tr
    %td
      %strong Master Scenario
    %td
      - if @scenario.master_scenario
        = link_to @scenario.master_scenario.name, instructors_scenario_path(@scenario.master_scenario)
      - else
        %em Deleted
  %tr
    %td
      %strong Level:
    %td= @scenario.level
  %tr
    %td
      %strong Inputs visible:
    %td= @scenario.inputs_visible
  %tr
    %td
      %strong Inputs enabled:
    %td= @scenario.inputs_enabled
  %tr
    %td
      %strong Faults visible:
    %td= @scenario.faults_visible
  %tr
    %td
      %strong Faults enabled:
    %td= @scenario.faults_enabled
  %tr
    %td
      %strong Longterm start date:
    %td= @scenario.longterm_start_date
  %tr
    %td
      %strong Longterm stop date:
    %td= @scenario.longterm_stop_date
  %tr
    %td
      %strong Allow longterm date change:
    %td= @scenario.allow_longterm_date_change
  %tr
    %td
      %strong Realtime start datetime:
    %td= @scenario.realtime_start_datetime
  %tr
    %td
      %strong Allow realtime datetime change:
    %td= @scenario.allow_realtime_datetime_change
  %tr
    %td
      %strong Valve info enabled:
    %td= @scenario.valve_info_enabled
  %tr
    %td
      %strong Student debug access:
    %td= @scenario.student_debug_access
  %tr
    %td
      %strong Short description:
    %td= @scenario.short_description
  %tr
    %td
      %strong Goal:
    %td= @scenario.goal
