= content_for :main_header do
  %h1= @scenario.name
  %p Manage Access

= render :partial => "instructors/scenarios/scenario_menu"

- if @scenario.public?
  %p
    This scenario is
    %b public and can be accessed by any user in the system.
- else
  %p
    This scenario is
    %b private and can only be accessed by you and:
    %h3 Groups
  - if @scenario.groups.empty?
    %b This scenario hasn't been yet assigned to a group.
  - else
    %table.zebra-striped
      %thead
        %tr
          %th Name
      %tbody
        - @scenario.groups.each do |group|
          %tr
            %td= link_to group.name, instructors_class_path(group)

  - if @memberships.any?
    %h3 People
    %table.zebra-striped
      %thead
        %tr
          %th Name
          %th Institution
          %th Email
          %th Role
          %th
          %th
      %tbody
        - @memberships.each do |membership|
          - member = membership.member
          %tr
            %td= member.name
            %td= member.institution.try(:name)
            %td= mail_to member.email
            %td= member.role
            %td= link_to(image_tag("trashcan.gif"), instructors_scenario_access_path(@scenario, membership), :method => :delete, :confirm => "Are you sure?") if member.has_role?(:student)
            %td= content_tag(:em, "Pending Email Confirmation") unless member.active?

    %br/
    = will_paginate @memberships
