.well
  %p.pull-right
    - if @subject_buttons == :master_scenario
      = link_to [:clone, :admins, @master_scenario], :confirm => 'Are you sure?', :method => :post, :class => 'no-decoration' do
        %button.btn.info Clone

      = link_to([:edit, :admins, @master_scenario], :class => 'no-decoration') do
        %button.btn.success Edit

      = link_to [:admins, @master_scenario], :confirm => 'Are you sure?', :method => :delete, :class => 'no-decoration' do
        %button.btn.danger Delete

      - if controller_name == 'system_variables' and action_name == 'index'
        = link_to 'Export to CSV', admins_master_scenario_system_variables_path(@master_scenario, :format => :csv), :class => 'btn primary'

    - elsif @subject_buttons == :cancel_master_scenario
      - if %(edit update).include?(controller.action_name)
        = link_to([:admins, @master_scenario], :class => 'no-decoration') do
          %button.btn.success Cancel

      - elsif %(new create).include?(controller.action_name)
        = link_to([:admins, :master_scenarios]) do
          %button.btn.success Cancel

    - elsif @subject_buttons == :variable
      = link_to([:edit, :admins, @master_scenario, @system_variable]) do
        %button.btn.success Edit Variable

      = link_to [:admins, @master_scenario, @system_variable], :confirm => 'Are you sure?', :method => :delete do
        %button.btn.danger Delete Variable

    - elsif @subject_buttons == :cancel_variable
      - if %(edit update).include?(controller.action_name)
        = link_to([:admins, @master_scenario, @system_variable]) do
          %button.btn.success Cancel

      - elsif %(new create).include?(controller.action_name)
        = link_to([:admins, @master_scenario, :system_variables]) do
          %button.btn.success Cancel

  %p
    = link_to "Manage Variables", [:admins, @master_scenario, :system_variables], :class => 'btn'
    = link_to 'New Variable', [:new, :admins, @master_scenario, :system_variable], :class => 'btn'
