= content_for :main_header do
  %h1= @master_scenario.name

= render :partial => "master_scenario_menu"

= form_for(@master_scenario, :url => admins_master_scenario_path(@master_scenario), :method => :put) do |f|
  = render :partial => 'form', :locals => { :f => f }
