#tabs
  %ul
    %li.ui-tabs-selected= link_to "Master Scenarios", admins_master_scenarios_path
    %li= link_to 'New Master Scenario', new_admins_master_scenario_path

  %br
  = grid(@master_scenarios_grid) do |g|
    - g.column :name => 'Name', :attribute => 'name' do |ms|
      - link_to ms.name, admins_master_scenario_path(ms)
    - g.column :name => "Author" do |ms|
      - "#{ms.user.first_name} #{ms.user.last_name}"
    - g.column :name => "Client Version", :attribute => 'version', :model => ClientVersion do |ms|
      - link_to ms.client_version.version, admins_settings_client_version_path(ms.client_version) if ms.client_version