= content_for :main_header do
  %h1 Emails
  %p= @group.name


%table.zebra-striped
  %thead
    %tr
      %th Subject
      %th Sent At
  %tbody
    - @emails.each do |email|
      %tr
        %td= link_to email.subject, instructors_class_email_path(@group, email)
        %td= email.created_at.to_formatted_s(:long)
    - if @emails.blank?
      %tr
        %td{:colspan => 2} No Email Invitations have been sent. To send one, click #{link_to "here", new_instructors_class_email_path(@group)}

%br/
= will_paginate @emails
