#tabs
  %ul
    %li= link_to @group.name, instructors_class_path(@group)
    %li.ui-tabs-selected= link_to "Emails", instructors_class_emails_path(@group)
    %li= link_to "New Email", new_instructors_class_email_path(@group)
  
  %br
  %table.listing
    %thead
      %tr
        %th Subject
        %th Sent At
    - @emails.each do |email|
      %tr
        %td= link_to email.subject, instructors_class_email_path(@group, email)
        %td= email.created_at.to_formatted_s(:long)
    - if @emails.blank?
      %tr
        %td{:colspan => 2} No Email Invitations have been sent.
  %br
  = will_paginate @emails

