= content_for :main_header do
  %h1 New Email
  %p= @group.name

= form_for(@email, :url => instructors_class_emails_path(@group), :method => :post) do |f|
  %fieldset
    = f.error_messages

    %legend
      %p Use this form to invite students to join the #{@group.name} group.
      %p Please enter their email addresses separated by a comma.

    .clearfix
      = f.label :from
      .input= f.text_field :from, :disabled => true, :class => 'xxlarge'

    .clearfix
      = f.label :recipients, "Recipients"
      .input= f.select :recipients, @group.members.map { |u| [u.name, u.email]}, :class => 'xxlarge'

    .clearfix
      = f.label :subject
      .input= f.text_field :subject, :value => @email.subject, :class => 'xxlarge'

    .clearfix
      = f.label :body
      .input= f.text_area :body, :value => (@email.body || render(:partial => 'shared/group_email_body')), :rows => '10', :class => 'xxlarge'

    .actions
      = f.submit "Send", :class => 'btn primary'
      or
      = link_to 'Cancel', instructors_class_path(@group), :class => 'btn'
