= content_for :main_header do
  %h1 Email
  %p= @email.subject

.well
  = link_to 'View Class', instructors_class_path(@group), :class => 'btn'
  = link_to "Emails", instructors_class_emails_path(@group), :class => 'btn'
  = link_to "New Email", new_instructors_class_email_path(@group), :class => 'btn'

%p
  Sent at:
  %i= @email.created_at.to_formatted_s(:long)

%table
  %tr
    %td
      %strong From:
    %td= @email.from
  %tr
    %td
      %strong Subject:
    %td= @email.subject
  %tr
    %td
      %strong Recipients:
    %td= @email.recipients

%strong Sent email
%div= simple_format @email.body
