- content_for :head do
  = render :partial => 'shared/user_form_js', :locals => { :u => @instructor }
  
= error_messages_for 'instructor'
.field
  = f.label :login
  = f.text_field :login

.field
  = f.label :first_name, "First Name"
  = f.text_field :first_name

.field
  = f.label :last_name, "Last Name"
  = f.text_field :last_name

.field
  = f.label :country
  = f.country_select :country, ['United States', 'Canada']

.field#states
  = f.label :state, "State/Region"
  = f.text_field :state

.field
  = f.label :city
  = f.text_field :city

.field
  = f.label :email
  = f.text_field :email
  
.field
  = f.label :phone
  = f.text_field :phone

.field
  = f.label :password
  = f.password_field :password, :size=>20,  :value=>""

.field
  = f.label :password_confirmation, "Password Confirmation"	
  = f.password_field :password_confirmation, :size=>20,  :value=>""
