= content_for :head do
  = render :partial => 'shared/user_form_js', :locals => { :u => @instructor }

= error_messages_for 'instructor'
.clearfix
  = f.label :login
  .input= f.text_field :login, :class => 'xxlarge'

.clearfix
  = f.label :first_name, "First Name"
  .input= f.text_field :first_name, :class => 'xxlarge'

.clearfix
  = f.label :last_name, "Last Name"
  .input= f.text_field :last_name, :class => 'xxlarge'

.clearfix
  = f.label :country
  .input= f.country_select :country, ['United States', 'Canada'], {}, :class => 'xxlarge'

.clearfix#states
  = f.label :state, "State/Region"
  .input= f.text_field :state, :class => 'xxlarge'

.clearfix
  = f.label :city
  .input= f.text_field :city, :class => 'xxlarge'

.clearfix
  = f.label :email
  .input= f.text_field :email, :class => 'xxlarge'

.clearfix
  = f.label :phone
  .input= f.text_field :phone, :class => 'xxlarge'

.clearfix
  = f.label :password
  .input= f.password_field :password, :size=>20,  :value=>"", :class => 'xxlarge'

.clearfix
  = f.label :password_confirmation, "Password Confirmation"
  .input= f.password_field :password_confirmation, :size=>20,  :value=>"", :class => 'xxlarge'
