#tabs
  %ul
    %li= link_to "Instructors", managers_instructors_path
    %li= link_to "New Instructor", new_managers_instructor_path

  = form_for(@instructor, :url => managers_instructor_path(@instructor), :method => :put) do |f|
    = render :partial => 'form', :locals => { :f => f }
    .actions
      = submit_tag "Update"
      &nbsp;or&nbsp;
      = link_to 'Cancel', managers_instructors_path
