= content_for :main_header do
  %h1 Instructors
%table.zebra-striped
  %thead
    %tr
      %th Name
      %th Email
      %th Groups
      %th Scenarios
  %tbody
    - for instructor in @instructors
      %tr
        %td= link_to instructor.name, managers_instructor_path(instructor)
        %td= instructor.email
        %td= instructor.managed_groups.count
        %td= instructor.created_scenarios.count
%br/
= will_paginate @instructors
