= content_for :main_header do
  %h1= @instructor.name
  %p Instructor at #{@instructor.institution.name}

.well
  = link_to 'Edit', edit_managers_instructor_path(@instructor), :class => 'btn success'
  &nbsp;&nbsp;
  = link_to 'Delete', managers_instructor_path(@instructor), :confirm => 'Are you sure?', :method => :delete, :class => 'btn danger'

%table
  %tr
    %td
      %strong Location:
    %td= location_for @instructor
  %tr
    %td
      %strong Login:
    %td= @instructor.login
  %tr
    %td
      %strong E-Mail:
    %td= mail_to @instructor.email
  - if @instructor.phone.present?
    %tr
      %td
        %strong Phone:
      %td= @instructor.phone
  %tr
    %td
      %strong Status:
    %td= @instructor.enabled? ? "Enabled" : "Disabled"
  %tr
    %td
      %strong Created on:
    %td= @instructor.created_at.to_formatted_s(:long)
