%h2= @instructor.name.capitalize
%p 
  = link_to 'Edit', edit_managers_instructor_path(@instructor)
  &nbsp;|&nbsp;
  = link_to 'Delete', managers_instructor_path(@instructor), :confirm => 'Are you sure?', :method => :delete
  &nbsp;|&nbsp;
  = link_to 'Back', managers_instructors_path
%hr

%p
  %b Login:
  = @instructor.login
%p
  %b First Name:
  = @instructor.first_name
%p
  %b Last Name:
  = @instructor.last_name
%p
  %b E-Mail:
  = @instructor.email

%p
  %b Created on:
  = @instructor.created_at.to_formatted_s(:long)
