%h2 Institutions
%hr
%table
  %tr
    %th
  - @institutions.each do |institution|
    %tr
      %td
        = link_to formatted_institution_name(institution), directory_institution_path(institution)
        %span= "scenarios #{institution.scenarios.public.count}"
        %span= "users #{institution.users.count}"
%br
= will_paginate @institutions
%br
%br
%br