- form_for(@scenario) do |f|
  = f.error_messages
  %p
    = f.label :master_scenario_id, "Master Scenario"

    = f.select :master_scenario_id, MasterScenario.all.collect { |ms| [ ms.name.capitalize, ms.id ] }
  %p
    = f.label :scenario_id

    = f.text_field :scenario_id
  %p
    = f.label :name

    = f.text_field :name
  %p
    = f.label :movie_url

    = f.text_field :movie_url
  %p
    = f.label :thumbnail_url

    = f.text_field :thumbnail_url
  %p
    = f.label :level

    = f.text_field :level
  %p
    = f.label :inputs_visible

    = f.check_box :inputs_visible
  %p
    = f.label :inputs_enabled

    = f.check_box :inputs_enabled
  %p
    = f.label :faults_visible

    = f.check_box :faults_visible
  %p
    = f.label :faults_enabled

    = f.check_box :faults_enabled
  %p
    = f.label :longterm_start_date

    = f.date_select :longterm_start_date
  %p
    = f.label :longterm_stop_date

    = f.date_select :longterm_stop_date
  %p
    = f.label :allow_longterm_date_change

    = f.check_box :allow_longterm_date_change
  %p
    = f.label :realtime_start_datetime

    = f.datetime_select :realtime_start_datetime
  %p
    = f.label :allow_realtime_datetime_change

    = f.check_box :allow_realtime_datetime_change
  %p
    = f.label :valve_info_enabled

    = f.check_box :valve_info_enabled
  %p
    = f.label :short_description

    = f.text_field :short_description
  %p
    = f.label :description

    = f.text_area :description
  %p
    = f.label :goal

    = f.text_area :goal
  .actions
    = f.submit
