


<h1>Editing <%=h @scenario.scenID  %>'s Scenario Variables </h1>



<% form_tag :action => 'updatesysvars', :id => @scenario do  %>

  <%= error_messages_for 'scenario' %>

  <p>
<div style="float:left">
<p>Scenario ID : <%=h @scenario.scenID  %>
<br/>
</p>
        
<p>Display Name : <%=h @scenario.name  %></p>

</div>
<div style="border:1px solid yellow; margin:10px; padding:10px; background-color:#fefab3; width:450px; float:right;">
	NOTE: If a row has a grey background, it means the Administrator has disabled that system variable and it cannot be altered except for the PUBLIC/PRIVATE setting.  
</div>

<div style="border-left:20px;clear:both">

<table style="border:1px solid #999999; width:100%" border="0" cellspacing="0" >

<tr style="background:#163a8b;color:#FFF">
	<td>&nbsp;</td><!--spacer-->
	<td colspan="2">&nbsp;</td><!-- move lower/higher btns -->
 	<td>&nbsp;Fault&nbsp;</td>
    <td >Name</td>
    <td align="center" width="80">Disabled</td>
    <td>Type</td>
    <td>Application</td>
	<td align="left">Fault Type</td>
    <td align="right" width="50">Min&nbsp;value</td>
	<td width="50" align="center">Low&nbsp;value</td>
    <td width="50" align="center">Initial&nbsp;Value</td>
    <td width="50" align="center">High&nbsp;value</td>
	<td align="right" width="50">Max&nbsp;value
    <td>&nbsp;&nbsp;</td>
	<td>Units</td>
</tr>

<%    
backgroundStyle = "varRowOff"
currComponent = ""
@typeOptions = %w{"INPUT","OUTPUT"}

#sysVars = @scenario.scenario_systemvariables.find(:all, :include => {:systemvariable => :component}, :order=>"systemvariable.component_id, systemvariable.typeID, systemvariable.is_fault, systemvariable.node_sequence")

sysVars = @scenario.scenario_systemvariables.find(:all, :include=>:systemvariable, :order=>"systemvariables.component_id, systemvariables.typeID, systemvariables.is_fault, systemvariables.node_sequence")

sysVars.each do |sysVar|

	if sysVar.systemvariable.global_disable?
		backgroundStyle = "varRowDisabled"
	elsif backgroundStyle == "varRowOff" or backgroundStyle=="varRowDisabled"
		backgroundStyle = "varRowOn"
	else
		backgroundStyle = "varRowOff"
	end		

   	%>

	<% 	
	# Write a row with component name for each group of variables under that component		
	if currComponent != sysVar.systemvariable.component.name
		currComponent = sysVar.systemvariable.component.name
		%>
		<tr style="background-color:#DDD;">
			<td  style="height:30;border-bottom:1px solid #aaa;">&nbsp;</td>
    		<td colspan="15" style="height:30;border-bottom:1px solid #aaa;">
				<b><%= currComponent %></b>
			</td>
		</tr>
	<% end %>
		
	
	<tr class="<%= backgroundStyle %>" >
			
    	<!--spacer-->
		<td>
				&nbsp; 
		</td>
		<!-- move lower / higher buttons -->
		<td>
		
		</td>
		<td>	
			
		</td>
		<!-- fault check mark -->
		<td align="center">
			<% if sysVar.systemvariable.is_fault%>
				<img src="/images/check.png">
			<% else %>
				&nbsp;
			<% end %>
		</td>
		<!-- name -->
		<td>
			
    		<%= sysVar.systemvariable.name%>&nbsp;
			
    	</td>

		
		
    	<% if sysVar.systemvariable.typeID == "INPUT"%>
			<% if sysVar.systemvariable.global_disable == true #SysVar is disabled globally so don't let user change here %>
				<td align="center">
    				<%= check_box_tag "disabled"+sysVar.id.to_s, "1",  true, {:disabled=>true} %>
				</td>
			<% else %>
				<td align="center">		
					<%= check_box_tag "disabled"+sysVar.id.to_s, "1", sysVar.disabled %>
				</td>
			<% end %>
		<% else %>
			<td>&nbsp;</td>
		<% end %>
		
		<td align="left">
			<%= sysVar.systemvariable.typeID %>
		</td>
			
		<td>
       		<select id="<%="applicationID"+sysVar.id.to_s %>" name="<%="applicationID"+sysVar.id.to_s %>">
				<option value="PUBLIC" <%= "selected" if sysVar.applicationID=="PUBLIC"%>>PUBLIC</option>
          		<option value="PRIVATE" <%= "selected" if sysVar.applicationID=="PRIVATE"%>>PRIVATE</option>
			</select>
   		</td>

		<% if sysVar.systemvariable.typeID == "INPUT"%>

			<td align="left"><%= sysVar.systemvariable.fault_widget_type %></td>			
			
			<% if sysVar.systemvariable.is_fault == true %>
			
				<% if sysVar.systemvariable.fault_widget_type=="SLIDER" %>
					<td align="right">
						<%= sysVar.systemvariable.min_value %>&nbsp;
					</td>
					<td	align="center">
           				<%= text_field_tag( "low_value"+sysVar.id.to_s, '', "size" =>"14", :value=>sysVar.low_value, :disabled=>true) %>
					</td>
					<td align="center">
						<%= text_field_tag("initial_value"+sysVar.id.to_s, '', "size" =>"14", :value=>sysVar.initial_value, :disabled=>sysVar.systemvariable.global_disable?) %>
					</td>
					<td align="center">
            			<%= text_field_tag("high_value"+sysVar.id.to_s, '', "size" =>"14", :value=>sysVar.high_value, :disabled=>true) %>
					</td>
					<td align="right">
						<%= sysVar.systemvariable.max_value %>&nbsp;
					</td>
					<td>&nbsp;</td>			
					
				<% elsif sysVar.systemvariable.fault_widget_type=="CHECKBOX"%>
					<td colspan="2">&nbsp;</td>
					<td align="center"><%= text_field_tag("initial_value"+sysVar.id.to_s, '', "size" =>"14", :value=>sysVar.initial_value, :disabled=>sysVar.systemvariable.global_disable?) %></td>
					<td align="left"  colspan="3" style="color:#999">
						<<	Enter -999 to default to "off" or 1 to default to "on"
					</td>
				<% else %>
					<td>&nbsp;</td>
					<td colspan="5" style="background-color:red;color:white;">[Unrecognized fault type]</td>
				<% end %>
			<% else # systemvariable is not a fault%>			
				<td align="right">
					<%= sysVar.systemvariable.min_value %>&nbsp;
				</td>
				<td align="center">
					<%= text_field_tag("low_value"+sysVar.id.to_s, '', "size" =>"14", :value=>sysVar.low_value, :disabled=>sysVar.systemvariable.global_disable?) %>
				</td>
				<td align="center">
					<%= text_field_tag("initial_value"+sysVar.id.to_s, '', "size" =>"14", :value=>sysVar.initial_value, :disabled=>sysVar.systemvariable.global_disable?) %>
				</td>
				<td align="center">
					<%= text_field_tag("high_value"+sysVar.id.to_s, '', "size" =>"14", :value=>sysVar.high_value, :disabled=>sysVar.systemvariable.global_disable?) %>
				</td>
				<td align="right">
					<%= sysVar.systemvariable.max_value %>&nbsp;
				</td>
				<td>&nbsp;</td>	
			<% end %>
				
		<% else #not an INPUT, so don't show any fields as not necessary OUTPUT %>
			<td colspan="7">&nbsp;</td>
		<% end %>

		<td>
			<% if sysVar.systemvariable.unit_si == nil%>
				<span style="color:#999">--</span>
			<% else %>
				<%= sysVar.systemvariable.unit_si %>
			<% end %>
		</td>
			
	</tr>
	<% end %>

</table>
	
	<br/>
    <%= submit_tag "Update", :class => 'submitButton'  %>

	<br/><br/>
	<%= link_to 'Back to scenario list', :action => 'index' %>

  </p>
<% end %>

