%h2 Your Scenarios

%p
  = link_to 'New scenario', new_scenario_path

%hr

%table
  %tr
    %th ID
    %th Name
    %th Description
  - @scenarios.each do |scenario|
    %tr
      %td= scenario.scenario_id
      %td= scenario.name
      %td= scenario.description
      %td= link_to "System Vars", scenario_scenario_variables_path(scenario)
      %td= link_to 'Show', scenario
      %td= link_to 'Edit', edit_scenario_path(scenario)
      %td= link_to 'Destroy', scenario, :confirm => 'Are you sure?', :method => :delete
%br
= will_paginate @scenarios

