

<div>
	<div id="section_icon">
		<img src="/images/icon_scenarios_45.png" alt = "Scenarios Icon"/>
	</div>
	<div id="section_title">
		<h1>Manage Scenarios</h1>
	</div>	
	<div style="text-align:right;float-right:padding-top:4px;">
		<%= button_to 'Create New Scenario', {:action => 'new'}, :class=>'createButton' %>
	</div>
	<div style="clear:both"></div>
</div>	



<table  id="listTable"  cellpadding="2" cellspacing="0" >
 
  <tr id="listHeader" >
    <th width="5">&nbsp;&nbsp;</th>
    <th width="5">&nbsp;&nbsp;</th>
    <th width="10">&nbsp;&nbsp;</th>
    <th width="10">&nbsp;&nbsp;</th>
    <th align="left" width="50">ID</th>
	<th>&nbsp;</th>
    <th align="left" width="30%">Name</th>
    <th align="left" width="30%">Descrip.</th>
	<th align="left" width="300">System Variables</th>
	<th align="center" width="100">Get XML</th>
    <th colspan="4" align="center" width="100">Action</th>
  </tr>
  

<% rowClass = "lightRow"%>
<% totalCount = Scenario.count%>

<% for scenario in @scenarios 

    if rowClass == "lightRow"
        rowClass = "darkRow"
    else
        rowClass = "lightRow"
    end
    
%>
  <tr class="<%= rowClass %>" style="height:30px;">
    <td>&nbsp;&nbsp;</td>
	<td width="5">
		<% if scenario.position >1 %>
			<%= link_to image_tag("btn_arrow_up.gif", :border=>0), :action => "sort_up", :id => scenario.id %>
		<% end%>
	</td>
	<td width="5">
		<% if scenario.position < totalCount %>
			<%= link_to image_tag("btn_arrow_down.gif", :border=>0), :action => "sort_down", :id => scenario.id %>
    	<% end %>
	</td>

	<td width="10" style="color:#888;" align="right"><%= scenario.position.to_s %>.&nbsp;&nbsp;</td>
	<td width="50"><%= scenario.scenID%></td>
	<td width="20">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td ><%= scenario.name%></td>
    <td ><%= scenario.short_description%></td>
    <td><%= link_to 'Edit Scenario Variables', :action => 'editsysvars', :id => scenario %></td>
	<td width="100" align="center"><%= link_to 'Get XML', :action=>'genXML', :id=>scenario%></td>
    <td width="10">&nbsp;</td>
    <td width="30"><%= link_to 'Edit', :action => 'edit', :id => scenario %></td>
    <td width="30"><%= link_to 'Duplicate', :action => 'duplicate', :id => scenario %></td>
    <td width="75"><%= link_to 'Destroy', scenario, :confirm => 'Are you sure you want to delete this scenario?', :method => :delete %></td>
  </tr>
<% end %>
</table>





