<p>
  <b>Scenario:</b>
  <%= @scenario.scenario_id %>
</p>

<p>
  <b>Name:</b>
  <%= @scenario.name %>
</p>

<p>
  <b>Movie url:</b>
  <%= @scenario.movie_url %>
</p>

<p>
  <b>Thumbnail url:</b>
  <%= @scenario.thumbnail_url %>
</p>

<p>
  <b>Level:</b>
  <%= @scenario.level %>
</p>

<p>
  <b>Inputs visible:</b>
  <%= @scenario.inputs_visible %>
</p>

<p>
  <b>Inputs enabled:</b>
  <%= @scenario.inputs_enabled %>
</p>

<p>
  <b>Faults visible:</b>
  <%= @scenario.faults_visible %>
</p>

<p>
  <b>Faults enabled:</b>
  <%= @scenario.faults_enabled %>
</p>

<p>
  <b>Longterm start date:</b>
  <%= @scenario.longterm_start_date %>
</p>

<p>
  <b>Longterm stop date:</b>
  <%= @scenario.longterm_stop_date %>
</p>

<p>
  <b>Allow longterm date change:</b>
  <%= @scenario.allow_longterm_date_change %>
</p>

<p>
  <b>Realtime start datetime:</b>
  <%= @scenario.realtime_start_datetime %>
</p>

<p>
  <b>Allow realtime datetime change:</b>
  <%= @scenario.allow_realtime_datetime_change %>
</p>

<p>
  <b>Valve info enabled:</b>
  <%= @scenario.valve_info_enabled %>
</p>

<p>
  <b>Short description:</b>
  <%= @scenario.short_description %>
</p>

<p>
  <b>Description:</b>
  <%= @scenario.description %>
</p>

<p>
  <b>Goal:</b>
  <%= @scenario.goal %>
</p>


<%= link_to 'Edit', edit_scenario_path(@scenario) %> |
<%= link_to 'Back', scenarios_path %>
