<br/>

<script src="/javascripts/prototype.js" type="text/javascript"></script>

<!--[form:scenario]-->

<br/>

<table style="width:100%">
<tr>
    <td valign="top">
	
        <p>Scenario ID : <br/>
        <%=h @scenario.scenID  %>
        <br/>
        <span class="info">255 characters max.</span>
        </p>
        
        <p>Display Name : <br/>
        <%=h @scenario.name  %>
        <br/>
        <span class="info">Name shown to student (255 characters max.)</span>
        </p>

        <p>Movie url :<br/>
        <%=h @scenario.movie_URL  %>
        <br/>
        <span class="info">Fully qualified URL of movie location on website</span>
        </p>
        
        <p>Thumbnail url :<br/>
        <%=h @scenario.thumbnail_URL  %>
        <br/>
        <span class="info">Fully qualified URL of image location on website</span>
        </p>
				
        <p>Level :<br/>
        <%=h @scenario.level  %>
        <br/>
        <span class="info">Integer value for difficulty level</span>
        </p>
		<!--		
				<p><img src="/images/weather_icon.png" alt="weather icon"/>&nbsp;Weather File:&nbsp;&nbsp;	
				<%= collection_select(:scenario, :weatherfile_id, Weatherfile.find(:all, :order=>"name"), :id, :name) %>
				<br/>
        		<span class="info">Include weather file in simulation</span>
			</p>
		-->	
				
        <br/>
		<p><b>Options :</b></p>

		<div style="width:150px;border-bottom:1px dotted #AAA;"><i>Input Area</i></div>
		<p>Inputs visible : <%=h @scenario.inputs_visible %>
        <br/>
        <span class="info">Allow student to see PUBLIC input values during simulation</span>
        </p>

        <p> Inputs enabled : <%=h @scenario.inputs_enabled %> 
        <br/>
        <span class="info">Allow student to enter PUBLIC input values during simulation</span>
        </p>
				
        <p> Faults visible : <%=h @scenario.faults_visible %>
        <br/>
        <span class="info">Allow student to see PUBLIC fault values during simulation</span>
        </p>

        <p> Faults enabled : <%=h @scenario.faults_enabled %> 
        <br/>
        <span class="info">Allow student to enter PUBLIC fault values during simulation</span>
        </p>
        
		<p>
		<div style="width:150px;border-bottom:1px dotted #AAA;"><i>Visualization Area</i></div>
		<!--
		<br/><%= check_box :scenario, :drag_sensor_enabled %> Drag sensor enabled
        <br/>
        <span class="info">Display drag sensor for use during simulation</span>
        </p>--> 
        <p> Valve info enabled :  <%=h @scenario.valve_info_enabled %>
        <br/>
        <span class="info">Allow student to view Heating Coil and Cooling Coil valve information</span>
        </p>

		<!--
			<p>
			<div style="width:150px;border-bottom:1px dotted #AAA;"><i>Output Area</i></div>
			<br/> <%= check_box :scenario, :use_custom_output_graphs %> Use Custom Output Graphs
        

				<br/>
        		<span class="info">Manually select variables for the output window graphs in the table below.<br/>
				Otherwise, show the default output graphs for each component.</span>
        	</p>
		-->
				
    </td>

    <td valign="top">

        <p>Short description :<br/>
        <span class="info">Description shown when student views available scenarios</span><br/>
        <%=h @scenario.short_description %>
        <br/>
        </p>

        
        <br/>
        <p>Description :<br/>
        <span class="info">A longer description describing scenario in detail</span><br/>
        <%=h @scenario.description %>
        <br/>
        </p>
        
        <br/>
        <p>Goal :<br/>
        <span class="info">The pedalogical goal for this scenario</span><br/>
        <%=h @scenario.goal%>
        <br/>
        </p>

    </td>
    
</tr>
</table>

</table>
<!--[eoform:scenario]-->
