= f.error_messages

%fieldset
  .clearfix
    = f.label :name, "Scenario name"
    .input= f.text_field :name, :class => 'xlarge'

  - if @scenario.new_record?
    %p Select a master scenario to model your scenario from.
    .clearfix
      = f.label :master_scenario_id, "Master Scenario"
      .input= f.select :master_scenario_id, MasterScenario.select("name, id").collect { |ms| [ ms.name.capitalize, ms.id ] }, {:prompt => "Please select..."}, :class => 'xlarge'

  %p Designate as sample scenario. Sample scenarios are displayed when a new instructor signs up.
  .clearfix
    = f.label :sample, "Sample scenario"
    .input= f.check_box :sample, {}, true, false

  %p Assign an instructor to the scenario.
  .clearfix
    = f.label :user_id, "Instructor"
    .input= f.select :user_id, User.admin_instructor.collect {|user| [ user.name, user.id ] }, :prompt => "Please select...", :class => 'xlarge'

  %p Select Desktop version.
  .clearfix
    = f.label :desktop_id, "Desktop"
    .input= f.select :desktop_id, ClientVersion.all.collect { |cv| [cv.version, cv.id] }, :prompt => "Please select...", :class => 'xlarge'

  %p Description shown when student views available scenarios.
  .clearfix
    = f.label :short_description
    .input= f.text_field :short_description, :class => 'xlarge'

  %p Enter a longer description describing scenario in detail.
  .clearfix
    = f.label :description, "Full description"
    .input= f.text_area :description, :rows => 3, :class => 'xxlarge'

  .clearfix
    = f.label :goal
    .input= f.text_area :goal, :rows => 3, :class => 'xxlarge'

  .clearfix
    %legend Dificulty
    %p Select a level of difficulty for this scenario. 1 = easy, 5 = very difficult.
    = f.label :level
    .input= f.select :level, [1, 2, 3, 4, 5], :class => 'xlarge'

  %h3 Inputs &amp; Faults

  .clearfix.inputs-faults
    %legend Inputs visible?
    %p Allow students to see PUBLIC input values during simulation.
    = f.label :inputs_visible
    .input= f.check_box :inputs_visible

  .clearfix.inputs-faults
    %legend Inputs enabled?
    %p Allow student to enter PUBLIC input values during simulation.
    = f.label :inputs_enabled
    .input= f.check_box :inputs_enabled

  .clearfix.inputs-faults
    %legend Faults visible?
    %p Allow student to see PUBLIC fault values during simulation.
    = f.label :faults_visible
    .input= f.check_box :faults_visible

  .clearfix.inputs-faults
    %legend Faults enabled?
    %p Allow student to enter PUBLIC fault values during simulation.
    = f.label :faults_enabled
    .input= f.check_box :faults_enabled

  %legend Long-term Simulation
  %p The date and time the real-time simulation should start.
  .clearfix
    = f.label :longterm_start_date
    .input= f.datetime_select :longterm_start_date, :discard_year =>true, :discard_minute => true, :discard_hour => true, :default => {:year => Time.now.year }, :class => 'xlarge'
    -# = f.text_field :longterm_start_date, {:readonly => "true"}

  %p{:style => "margin-top:35px;"} The date and time the real-time simulation should stop.
  .clearfix
    = f.label :longterm_stop_date
    .input= f.datetime_select :longterm_stop_date, :discard_year =>true, :discard_minute => true, :discard_hour => true, :default => {:year => Date.current.year }, :class => 'xlarge'
    -# = f.text_field :longterm_stop_date, {:readonly => "true"}

  %p{:style => "margin-top:35px;"} Allow the student to change the start and stop time and date for the long-term simulation.
  .clearfix
    = f.label :allow_longterm_date_change
    .input= f.check_box :allow_longterm_date_change

  %legend Real-time Simulation
  %p The date and time the real-time simulation should start at.
  .clearfix
    = f.label :realtime_start_datetime
    .input= f.datetime_select :realtime_start_datetime, {:discard_year => true, :discard_minute => true, :datetime_separator => "At: ", :default => {:year => Date.current.year }}, :class => 'medium'

  %p{:style => "margin-top:35px;"} Allow the student to change the start time and date for the short-term simulation.
  .field.clearfix
    = f.label :allow_realtime_datetime_change
    .input= f.check_box :allow_realtime_datetime_change, :class => 'xlarge'

  %p Allow student to view Heating Coil and Cooling Coil valve information
  .clearfix
    = f.label :valve_info_enabled
    .input= f.check_box :valve_info_enabled, :class => 'xlarge'

  %p Allow student to view the debug window button.
  .clearfix
    = f.label :student_debug_access
    .input= f.check_box :student_debug_access, :class => 'xlarge'

  %p Allow all users to view this scenario.
  .clearfix
    = f.label :public, "Share"
    .input= f.check_box :public, :class => 'xlarge'


  .actions
    = f.submit 'Save', :class => 'btn primary'
    &nbsp;or&nbsp;
    = link_to 'Cancel', instructors_scenarios_path, :class => 'btn'
