.well
  - if controller_name == 'variables' and action_name == 'index'
    %button{:id => 'filterbutton', :class => 'btn primary'} Filter
  = link_to 'Manage Access', [:admins, @scenario, :accesses], :class => 'btn'
  = link_to "Manage Variables", admins_scenario_variables_path(@scenario), :class => 'btn'
  = link_to 'New Variable', new_admins_scenario_variable_path(@scenario), :class => 'btn'

  %p.pull-right
    - if @subject_buttons == :scenario
      = link_to(edit_admins_scenario_path(@scenario), :class => 'no-decoration') do
        %button.btn.success Edit Scenario

      - if @scenario.groups.empty?
        = link_to admins_scenario_path(@scenario), :confirm => 'Are you sure?', :method => :delete, :class => 'no-decoration' do
          %button.btn.danger Delete Scenario
      - else
        = link_to admins_scenario_path(@scenario), :confirm => 'Are you sure? This scenario is used by one or more groups right now.', :method => :delete, :class => 'no-decoration' do
          %button.btn.danger Delete Scenario

      - if controller_name == 'variables' and action_name == 'index'
        = link_to 'Export to CSV', admins_scenario_variables_path(@scenario, :format => :csv), :class => 'btn primary'
    - elsif @subject_buttons == :cancel_scenario
      - if %(edit update).include?(controller.action_name)
        = link_to(admins_scenario_path(@scenario), :class => 'no-decoration') do
          %button.btn.success Cancel

      - elsif %(new create).include?(controller.action_name)
        = link_to(admins_scenarios_path, :class => 'no-decoration') do
          %button.btn.success Cancel

    - elsif @subject_buttons == :variable
      = link_to(edit_admins_scenario_variable_path(@scenario, @scenario_variable), :class => 'no-decoration') do
        %button.btn.success Edit Variable

      = link_to admins_scenario_variable_path(@scenario, @scenario_variable, :class => 'no-decoration'), :confirm => 'Are you sure?', :method => :delete do
        %button.btn.danger Delete Variable

    - elsif @subject_buttons == :cancel_variable
      - if %(edit update).include?(controller.action_name)
        = link_to(admins_scenario_variable_path(@scenario, @scenario_variable), :class => 'no-decoration') do
          %button.btn.success Cancel

      - elsif %(new create).include?(controller.action_name)
        = link_to(admins_scenario_variables_path(@scenario), :class => 'no-decoration') do
          %button.btn.success Cancel

#filter_panel.well.hide
  = form_for :filter, :url => admins_scenario_variables_path([@scenario]), :html => {:method => :get} do |f|
    %fieldset
      .clearfix
        %label Display options:
        .input
          %ul.inputs-list
            %li
              %label
                = check_box_tag :disabled, 1, params[:disabled]
                %span Disabled variables
            %li
              %label
                = check_box_tag :is_fault, 1, params[:is_fault]
                %span Fault variables
            %li
              %label
                = check_box_tag :fault_is_active, 1, params[:fault_is_active]
                %span Fault is active
        .input= f.submit 'Apply', :class => 'btn info'
