= content_for :main_header do
  %h1= @scenario.name
= render :partial => "scenario_menu"

= form_for(@scenario, :url => admins_scenario_path(@scenario), :method => :put) do |f|
  = render :partial => "form", :locals => { :f => f }
