%h2= "Edit #{@scenario.name}"
%hr
- form_for(@scenario, :url => admins_scenario_path(@scenario), :method => :put) do |f|
  = render :partial => "form", :locals => { :f => f }
  .actions
    = submit_tag "Update"
    &nbsp;or&nbsp;
    = link_to 'Cancel', :back
