= content_for :main_header do
  %h1 Instructor Scenarios
  %p Scenarios created by instructors
.well
  %p.pull-right= link_to 'New Instructor Scenario', new_admins_scenario_path, :class => 'btn'

%table.zebra-striped
  %thead
    %tr
      %th ID
      %th Name
      %th Instructor
      %th Master Scenario
      %th Date Created
      %th Sample
  %tbody
    - @scenarios.each do |scenario|
      %tr
        %td= scenario.id
        %td= link_to scenario.name, admins_scenario_path(scenario)
        %td= link_to scenario.user.name, admins_user_path(scenario.user, :role => scenario.user.role)
        %td= link_to scenario.master_scenario.name, admins_master_scenario_path(scenario.master_scenario)
        %td= scenario.created_at.to_formatted_s :long
        %td= scenario.sample? ? "Yes" : "No"
