#tabs
  %ul
    %li= link_to "Instructor Scenarios", admins_scenarios_path
    %li.ui-tabs-selected= link_to "New Scenario", new_admins_scenario_path

  = render :partial => "scenario_menu"
    
  = form_for(@scenario, :url => admins_scenarios_path, :method => :post) do |f|
    = render :partial => "form", :locals => { :f => f }
    .actions
      = submit_tag "Create"
      &nbsp;or&nbsp;
      = link_to 'Cancel', :back
