#tabs
  %ul
    %li= link_to @group.name, [:admins, @group]
    %li.ui-tabs-selected= link_to "Emails", [:admins, @group, :emails]
    %li= link_to "New Email", [:new, :admins, @group, :email]
  
  %br
  %table.listing
    %thead
      %tr
        %th Subject
        %th Sent At
    - @emails.each do |email|
      %tr
        %td= link_to email.subject, admins_group_email_path(@group, email)
        %td= email.created_at.to_formatted_s(:long)
  %br
  = will_paginate @emails

