#tabs
  %ul
    %li= link_to @group.name, [:admins, @group]
    %li.ui-tabs-selected= link_to "Class Email", [:admins, @group, :emails]

  - form_for(@email, :url => [:admins, @group, :emails], :method => :post) do |f|
    = f.error_messages
    .field
      = f.label :from
      = f.text_field :from, :disabled => true
    
    .field
      = f.label :recipients
      = f.text_field :recipients

    .field 
      = f.label :subject
      = f.text_field :subject, :value => @email.subject

    .field
      = f.label :body
      = f.text_area :body, :value => (@email.body || render(:partial => 'body')), :size => '100x100', :class => "class_email"
      
    .actions
      = f.submit "Send"
      &nbsp;or&nbsp;
      = link_to 'Cancel', :back
      