#tabs
  %ul
    %li= link_to @group.name, [:admins, @group]
    %li.ui-tabs-selected= link_to "Emails", [:admins, @group, :emails]
    %li= link_to "New Email", [:new, :admins, @group, :email]
    
  #page_header
    #subject_actions
      
    #subject_info
      %h2= @email.subject
      .subject_details
        Sent at:
        = @email.created_at.to_formatted_s(:long)
    
  #inner_column
    %table
      %tr
        %th From:
        %td= @email.from
      %tr
        %th Subject:
        %td= @email.subject
      %tr
        %th Recipients:
        %td= @email.recipients
        
    
    .class_email
      %b Sent email
      = simple_format @email.body
