= f.error_messages
.field
  = f.label :name
  %br
  = f.text_field :name
.field
  = f.label :scenarios
  %br
  = select_tag "group[scenarios_ids][]", options_from_collection_for_select(current_user.scenarios, :id, :name, @group.scenarios_ids), :multiple => true
.actions
  = f.submit
  &nbsp;or&nbsp;
  = link_to 'Cancel', :back
