.clearfix
  = f.label :name
  .input= f.text_field :name, :class => 'xxlarge'
.clearfix
  = f.label :goal
  .input= f.text_area :goal, :rows => '3', :class => 'xxlarge'
.clearfix
  = f.label :scenarios
  .input= select_tag "group[scenario_ids][]", options_from_collection_for_select(current_user.created_scenarios, :id, :name, @group.scenario_ids.map(&:to_i)), :class => 'xxlarge'
