.subject-buttons.ui-helper-clearfix
  %ul
    - if @subject_buttons == :group
      - if @group.notification_emails.any?
        %li
          = link_to instructors_class_emails_path(@group) do
            %button.button.medium-grey-button{:type => "button"} Emails
           
      %li
        = link_to(edit_instructors_class_path(@group)) do
          %button.button.medium-green-button{:type => "button"} Edit
    
      %li    
        = link_to instructors_class_path(@group), :confirm => 'Are you sure?', :method => :delete do
          %button.button.medium-red-button{:type => "button"} Delete
  
    - elsif @subject_buttons == :cancel_group
      %li
        - if %(edit update).include?(controller.action_name)
          = link_to(instructors_class_path(@group)) do
            %button.button.medium-green-button{:type => "button"} Cancel

        - elsif %(new create).include?(controller.action_name)
          = link_to(instructors_classes_path) do
            %button.button.medium-green-button{:type => "button"} Cancel
    
- if @group.new_record?
  %h2.subject-name New Class

- else
  %h2.subject-name= link_to @group.name, instructors_class_path(@group)