.well
  - if @subject_buttons == :group
    - unless @group.members.empty?
      = mail_to @group.members.map(&:email), 'New Email', :subject => "New notification from #{@group.name}", :class => 'btn'
    = link_to 'Edit', edit_instructors_class_path(@group), :class => 'btn success'
    = link_to 'Delete', instructors_class_path(@group), :confirm => 'Are you sure?', :method => :delete, :class => 'btn danger'

  - elsif @subject_buttons == :cancel_group
    - if %(edit update).include?(controller.action_name)
      %p.pull-right= link_to 'Cancel', instructors_class_path(@group), :class => 'btn success'

    - elsif %(new create).include?(controller.action_name)
      %p.pull-right= link_to 'Cancel', instructors_classes_path, :class => 'btn success'
