#tabs
  %ul
    %li= link_to "Classes", instructors_classes_path
    %li= link_to "New Class", new_instructors_class_path
  
  = render :partial => 'group_menu'
  
  = form_for(@group, :url => instructors_class_path(@group)) do |f|
    = render :partial => "form", :locals => { :f => f }
    .actions
      = f.submit
      &nbsp;or&nbsp;
      = link_to 'Cancel', instructors_class_path(@group)