#tabs
  %ul
    %li.ui-tabs-selected= link_to "Groups", instructors_groups_path
    %li= link_to "New Group", new_instructors_group_path

  %br
  %table.listing
    %thead
      %tr
        %th Name
        %th Students
        %th Created on
    - @groups.each do |group|
      %tr
        %td= link_to group.name, instructors_group_path(group)
        %td= group.students.count
        %td= group.created_at.to_formatted_s(:long)
  %br
  = will_paginate @groups
