= content_for :main_header do
  %h1 Classes

- if @groups.any?
  .well
    %p.pull-right= link_to 'Add a new class', new_instructors_class_path, :class => 'btn'
  %table.zebra-striped
    %thead
      %tr
        %th Name
        %th Members
        %th Shared Scenarios
        %th Created on
    %tbody
      - @groups.each do |group|
        %tr
          %td= link_to group.name, instructors_class_path(group)
          %td= group.members.count
          %td= group.group_scenarios.count
          %td= group.created_at.to_formatted_s(:long)

  = will_paginate @groups
- else
  %p
    You have no classes.
    %br/
    = link_to "Add a new class", new_instructors_class_path, :class => 'btn'
