#tabs
  %ul
    %li= link_to "Classes", instructors_classes_path
    %li.ui-tabs-selected= link_to "New Class", new_instructors_class_path

  = form_for(@group, :url => instructors_classes_path, :method => :post) do |f|
    = f.error_messages
    .instructions
      %p To create a new class, enter the name of the class and select the scenarios you want to share. You may select more that one scenario to share. (Use Control+click to select more than one).

      %p After creating the class, you will be able to invite students to join.

    = render :partial => "form", :locals => { :f => f }