- content_for :head do
  = javascript_include_tag 'tools/tooltip.min'
  = javascript_tag do
    $(document).ready(function() { $(".tip").tooltip(); });

#tabs
  %ul
    %li.ui-tabs-selected= link_to "Classes", instructors_classes_path
    %li= link_to "New Class", new_instructors_class_path
    
  #page_header
    #subject_actions
      - if @group.notification_emails.any?
        = link_to 'Emails', [:instructors, @group, :emails]
        &nbsp;
      = link_to 'Edit', edit_instructors_class_path(@group)
      &nbsp;
      = link_to 'Delete', instructors_class_path(@group), :confirm => 'Are you sure?', :method => :delete

    #subject_info
      %h2= @group.name

  #inner_column
    %table
      %tr
        %th Code:
        %td= @group.code
      %tr
        %th Invitation URL:
        %td
          %p Use the invitation URL to allow your students to join this group. You may copy and paste it on an email or use the online form to invite them.
          %input{:type => "text", :value => membership_register_url(@group.code), :style => "width: 400px", :spellcheck => false}        

    %h3 Students

    - if @group.students.empty?
      %p There are no students registered under this group.
    - else
      %table
        %thead
          %tr
            %th Name
            %th Institution
            %th Email
            %th 
        - @group.students.each do |student|
          %tr
            %td= link_to student.name, instructors_class_student_path(@group, student)
            %td= student.institution.name
            %td= mail_to student.email


    %h3 Scenarios

    - if @group.group_scenarios.empty?
      %p There are no scenarios on this group.
    - else
      %table
        %thead
          %tr
            %th Name
            %th Variables
            %th Created on
        - @group.scenarios.each do |scenario|
          %tr
            %td= link_to scenario.name, instructors_scenario_path(scenario)
            %td= scenario.scenario_variables.count
            %td= scenario.created_at.to_formatted_s(:long)

