- content_for :head do
  = javascript_include_tag 'tools/tooltip.min'
  - javascript_tag do
    $(document).ready(function() { $(".tip").tooltip(); });

#tabs
  %ul
    %li.ui-tabs-selected= link_to "Groups", instructors_groups_path
    %li= link_to "New Group", new_instructors_group_path
    
  #page_header
    #subject_actions
      - if @group.notification_emails.any?
        = link_to 'Emails', [:instructors, @group, :emails]
        &nbsp;
      = link_to 'Edit', edit_instructors_group_path(@group)
      &nbsp;
      = link_to 'Delete', instructors_group_path(@group), :confirm => 'Are you sure?', :method => :delete

    #subject_info
      %h2= @group.name

  #inner_column
    %table
      %tr
        %th Code:
        %td= @group.code
      %tr
        %th Invitation URL:
        %td
          %input{:type => "text", :value => membership_register_url(@group.code), :style => "width: 400px", :spellcheck => false}
        %td= link_to image_tag("icon-discuss-small.png", :class => "tip", :title => "Send this Invitation URL to your students!"), [:new, :instructors, @group, :email]
        
        
    %h3 Students

    - if @group.students.empty?
      %p There are no students registered under this group.
    - else
      %table
        %thead
          %tr
            %th Name
            %th Institution
            %th Email
            %th 
        - @group.students.each do |student|
          %tr
            %td= link_to student.name, instructors_group_student_path(@group, student)
            %td= student.institution.name
            %td= mail_to student.email


    %h3 Scenarios

    - if @group.group_scenarios.empty?
      %p There are no scenarios on this group.
    - else
      %table
        %thead
          %tr
            %th Name
            %th Variables
            %th Created on
        - @group.scenarios.each do |scenario|
          %tr
            %td= link_to scenario.name, instructors_scenario_path(scenario)
            %td= scenario.scenario_variables.count
            %td= scenario.created_at.to_formatted_s(:long)

