= f.error_messages

.field
  = f.label :name
  = f.text_field :name

.field
  = f.label :instructor
  = f.select :instructor_id, User.instructor.collect {|user| [ user.name, user.id ] }

.actions
  = f.submit
