%h2 Editing Group
%p
  %b Lead by:
  = link_to @group.instructor.name, admin_user_path(@group.instructor)

- form_for(@group, :url => admin_group_path(@group), :method => :put) do |f|
  = f.error_messages

  .field
    = f.label :name
    = f.text_field :name

  .field
    = f.label :scenarios
    %br
    = select_tag "group[scenarios_ids][]", options_from_collection_for_select(@group.instructor.scenarios, :id, :name, @group.scenarios_ids), :multiple => true

  .actions
    = f.submit
    &nbsp;or&nbsp;
    = link_to 'Cancel', :back
