%h2= @group.name
%p
  = link_to 'Edit Group', edit_admin_group_path(@group)
  &nbsp;|&nbsp;
  = link_to 'Delete Group', admin_group_path(@group), :confirm => 'Are you sure?', :method => :delete
  &nbsp;|&nbsp;
  = link_to 'Back', admin_groups_path
%hr

%p
  %b Code:
  = @group.code

%p
  %b Lead by:
  = link_to @group.instructor.name, admin_user_path(@group.instructor)

%p
  %b Invitation URL:
  = membership_register_url(@group.code)

%h3 Students

- if @group.students.empty?
  %b There are no students registered under this group.
- else
  %b members:
  %ul
    - @group.students.each do |student|
      %li
        = link_to student.name, admin_user_path(student)

%h3 Group Scenarios

- if @group.group_scenarios.empty?
  %p There are no scenarios on this group.
- else
  %b scenarios:
  %ul
    - @group.scenarios.each do |scenario|
      %li
        = link_to scenario.name, admin_scenario_path(scenario)
