%table#sortTableExample.zebra-striped
  %thead
    %tr.ro1
      %th.yellow Code
      %th.yellow Name
      %th.yellow Display
      %th.green Unit SI
      %th.green Unit Ip
      %th.blue Low
      %th.blue High
      %th.blue Initial
      %th.orange Fault Widget
      %th.orange Left Label
      %th.orange Right Label
      %th.orange Subsection
      %th.orange Zone Position
      %th.orange Index
  %tbody
    - @scenario_variables.each do |variable|
      %tr.ro1
        %td= link_to variable.component_code, admins_scenario_variable_path(@scenario, variable), :rel => 'popover', :title => variable.name, 'data-content' => variable.display_name
        %td= variable.name
        %td= variable.display_name
        %td= variable.unit_si
        %td= variable.unit_ip
        %td= variable.low_value
        %td= variable.high_value
        %td= variable.initial_value
        %td= variable.fault_widget_type
        %td= variable.left_label
        %td= variable.right_label
        %td= variable.subsection
        %td= variable.zone_position
        %td= variable.index
