= content_for :main_header do
  %h1= @scenario_variable.name
= render :partial => "admins/scenarios/scenario_menu"

= form_for([@scenario, @scenario_variable], :url => admins_scenario_variable_path(@scenario, @scenario_variable), :method => :put) do |f|
  = render :partial => "form", :locals => {:f => f}
  .actions
    = submit_tag "Update", :class => 'btn primary'
    &nbsp;or&nbsp;
    = link_to 'Cancel', :back, :class => 'btn'
