= content_for :main_header do
  %h1= @scenario.name
  %p Variables

= content_for :js_templates do
  ~ render :partial => "shared/variables_js",
           :locals => { :status_path => update_status_admins_scenario_variables_path(@scenario), :drop_path => drop_admins_scenario_variables_path(@scenario) }

= render :partial => "admins/scenarios/scenario_menu"

.actions_header
  = render :partial => 'scenario_variables_grid'
