#tabs
  %ul
    %li= link_to "Instructor Scenarios", admins_scenarios_path
    %li.ui-tabs-selected= link_to "New Scenario", new_admins_scenario_path

  = render :partial => "admins/scenarios/scenario_menu"

  %br
  %table.listing
    %thead
      %tr
        = sort_header_tag('index', :title => 'Index')
        = sort_header_tag('component_code', :title => 'Component')
        = sort_header_tag('name', :title => 'Name')
        = sort_header_tag('io_type', :title => 'Type')
        %th Low
        %th Initial
        %th High
        %th 
    - @scenario_variables.each do |scenario_system_variable|
      %tr
        %td= scenario_system_variable.index
        %td= scenario_system_variable.component
        %td= link_to scenario_system_variable.name, admins_scenario_variable_path(@scenario, scenario_system_variable)
        %td= scenario_system_variable.io_type.to_s.upcase
        %td= scenario_system_variable.low_value
        %td= scenario_system_variable.initial_value
        %td= scenario_system_variable.high_value
        %td
          = link_to image_tag('edit.gif'), edit_admins_scenario_variable_path(@scenario, scenario_system_variable)
          = link_to image_tag('trashcan.gif'), admins_scenario_variable_path(@scenario, scenario_system_variable), :confirm => 'Are you sure?', :method => :delete
        
  %br
  = will_paginate @scenario_variables
