#tabs
  %ul
    %li= link_to @group.name, instructors_class_path(@group)

  #page_header
    #subject_actions

    #subject_info
      %h2= @student.name
      .subject_details
        - if @student.institution
          #{@student.role} at #{link_to @student.institution.name, admins_institution_path(@student.institution)}
        - else
          #{@student.role}
  
  #location.ui-widget.ui-widget-content.ui-corner-all
    %h4 location
    %p
      = image_tag "globe_32.png"
      = location_for(@student)
	
  #inner_column
    %table
      %tr
        %th Login:
        %td= @student.login
      %tr
        %th E-Mail:
        %td= mail_to @student.email
      - if @student.phone.present?
        %tr
          %th Phone:
          %td= @student.phone
      %tr
        %th Status:
        %td= @student.enabled? ? "Enabled" : "Disabled"
      %tr
        %th Created on:
        %td= @student.created_at.to_formatted_s(:long)

