#tabs
  %ul
    %li= link_to @master_scenario.name, admins_master_scenario_path(@master_scenario)
    %li= link_to "Revisions", admins_master_scenario_revisions_path(@master_scenario)
    %li= link_to "Revision #{@version.version}", admins_master_scenario_revision_path(@master_scenario, @version.version)
    %li.ui-tabs-selected= link_to "Variables", admins_master_scenario_revision_variables_path(@master_scenario, @version.version)
    
  %br
  %table.listing
    %thead
      %tr
        = sort_header_tag('index', :title => 'Index')
        = sort_header_tag('component_code', :title => 'Component')
        %th Fault
        = sort_header_tag('name', :title => 'Name')
        = sort_header_tag('io_type', :title => 'Type')
        %th Low
        %th Initial
        %th High
    - @system_variable_versions.each do |system_variable|
      %tr
        %td= system_variable.index
        %td= system_variable.component
        %td= system_variable.is_fault ? "Yes" : "No"
        %td= link_to system_variable.name, admins_master_scenario_revision_variable_path(@master_scenario, @version.version, system_variable)
        %td= system_variable.io_type.to_s.upcase
        %td= system_variable.low_value
        %td= system_variable.initial_value
        %td= system_variable.high_value
  %br
  = will_paginate @system_variables_versions
