#tabs
  %ul
    %li= link_to @master_scenario.name, admins_master_scenario_path(@master_scenario)
    %li= link_to "Revisions", admins_master_scenario_revisions_path(@master_scenario)
    %li= link_to "Revision #{@version.version}", admins_master_scenario_revision_path(@master_scenario, @version.version)
    %li= link_to "Variables", admins_master_scenario_revision_variables_path(@master_scenario, @version.version)
    %li.ui-tabs-selected= link_to @system_variable_version.name
    
  #page_header
    #subject_info
      %h2= @system_variable_version.name
      .subject_details=@system_variable_version.display_name
      .subject_details= "Revision #{@version.version}"

  #location.ui-widget.ui-widget-content.ui-corner-all
    %h4 Description
    %p= @system_variable_version.description
    %h4 Notes
    %p= @system_variable_version.notes
    
  #inner_column
    %table
      %tr
        %th Index:
        %td= @system_variable_version.index
      %tr
        %th I/O type:
        %td= @system_variable_version.io_type
      %tr
        %th Component:
        %td= @system_variable_version.component
      %tr
        %th Low value:
        %td= @system_variable_version.low_value
      %tr
        %th Initial value:
        %td= @system_variable_version.initial_value
      %tr
        %th High value:
        %td= @system_variable_version.high_value
      %tr
        %th Unit SI:
        %td= @system_variable_version.unit_si
      %tr
        %th Initial IP:
        %td= @system_variable_version.unit_ip
      %tr
        %th SI to IP:
        %td= @system_variable_version.si_to_ip
      %tr
        %th Fault?:
        %td= @system_variable_version.is_fault
      %tr
        %th Left label:
        %td= @system_variable_version.left_label
      %tr
        %th Right label:
        %td= @system_variable_version.right_label
      %tr
        %th Subsection:
        %td= @system_variable_version.subsection
      %tr
        %th Zone position:
        %td= @system_variable_version.zone_position
      %tr
        %th Is percentage:
        %td= @system_variable_version.is_percentage
      %tr
        %th Fault widget type:
        %td= @system_variable_version.fault_widget_type
      %tr
        %th Lock version:
        %td= @system_variable_version.lock_version
      %tr
        %th Notes sequence:
        %td= @system_variable_version.node_sequence
