%h2 
  Edit 
  %br="Simulation Variables - #{@scenario_variable.name}"

%p= link_to 'Back', :back
%hr

- form_for([@scenario, @scenario_variable], :url => admins_scenario_scenario_variable_path(@scenario, @scenario_variable), :method => :put) do |f|
  = render :partial => "form", :locals => { :f => f }
  .actions
    = submit_tag "Update"
    &nbsp;or&nbsp;
    = link_to 'Cancel', :back
