#tabs
  %ul
    %li= link_to @scenario.name, admins_scenario_path(@scenario) 
    %li= link_to "Variables", admins_scenario_scenario_variables_path(@scenario)
    %li= link_to 'New Variable', new_admins_scenario_scenario_variable_path(@scenario)

  = form_for([@scenario, @scenario_variable], :url => admins_scenario_scenario_variable_path(@scenario, @scenario_variable), :method => :put) do |f|
    = render :partial => "form", :locals => { :f => f }
    .actions
      = submit_tag "Update"
      &nbsp;or&nbsp;
      = link_to 'Cancel', :back
