%h2= "#{@scenario.name.capitalize} Simulation Variables"
= link_to 'New Variable', new_admins_scenario_scenario_variable_path(@scenario)
%hr

%table
  %tr
    = sort_header_tag('component_code', :title => 'Component')
    %th Fault
    = sort_header_tag('name', :title => 'Name')
    %th Disp. Name
    = sort_header_tag('io_type', :title => 'Type')
    %th Low
    %th Initial
    %th High
    %th Unit SI
    %th Unit IP
    %th SI to IP
  - @scenario_variables.each do |scenario_system_variable|
    %tr
      %td= scenario_system_variable.component
      %td fault
      %td= scenario_system_variable.name
      %td= scenario_system_variable.display_name
      %td= scenario_system_variable.io_type.to_s.upcase
      %td= scenario_system_variable.low_value
      %td= scenario_system_variable.initial_value
      %td= scenario_system_variable.high_value
      %td= scenario_system_variable.unit_si
      %td= scenario_system_variable.unit_ip
      %td= scenario_system_variable.si_to_ip
      %td= link_to 'Show', admins_scenario_scenario_variable_path(@scenario, scenario_system_variable)
      %td= link_to 'Edit', edit_admins_scenario_scenario_variable_path(@scenario, scenario_system_variable)
      %td= link_to 'Destroy', admins_scenario_scenario_variable_path(@scenario, scenario_system_variable), :confirm => 'Are you sure?', :method => :delete
%br
= will_paginate @scenario_variables
