%h2
  New
  %br
  = "Simulation Variables"
%p
  = link_to "Back", :back
%hr
- form_for([@scenario, @scenario_variable], :url => admins_scenario_scenario_variables_path(@scenario), :method => :post) do |f|
  = render :partial => "form", :locals => { :f => f }
  .actions
    = submit_tag "Create"
    &nbsp;or&nbsp;
    = link_to 'Cancel', :back

