%h2= "Edit #{@user.name}"
%hr

- form_for(@user, :url => admin_user_path(@user), :method => :put) do |f|
  = render :partial => "form", :locals => { :f => f }
  .actions
    = submit_tag "Update"
    &nbsp;or&nbsp;
    = link_to 'Cancel', :back
