%h2 Manage users
%hr

%table
  %tr
    %th Institution
    %th Last Name
    %th First Name
    %th Login
    %th Role
    %th Email

    - for user in @users
      %tr
        %td= user.institution.try(:name).try(:capitalize)
        %td= user.last_name
        %td= user.first_name
        %td= user.login
        %td= user.role.to_s.capitalize
        %td= user.email
        %td= link_to 'Show', admin_user_path(user)
        %td= link_to 'Edit', edit_admin_user_path(user)
        %td= link_to 'Destroy', admin_user_path(user), :confirm => 'Are you sure?', :method => :delete

%br
= will_paginate @users
%br
= link_to 'New User', new_admin_user_path