%h2= "Manage #{session[:role].try(:capitalize) || 'User'}s"
%p= link_to 'New User', new_admin_user_path
%hr

%table
  %tr
    %th Name
    %th Institution
  - for user in @users
    %tr
      %td= link_to user.name, admin_user_path(user)
      %td= user.institution.try(:name).try(:capitalize)

%br
= will_paginate @users
