%h2= "Manage #{formatted_role}s"
%p= link_to 'New User', new_admin_user_path
%hr
- form_tag(search_admin_users_path(:role => session[:role]), :class => "search") do
  %p
    = label_tag :q, "Find #{formatted_role(:short)}s"
    = text_field_tag :q, params[:q]
    = submit_tag "Search!"


%table
  %tr
    %th Name
    %th Institution
  - for user in @users
    %tr
      %td= link_to user.name, admin_user_path(user)
      %td= user.institution.try(:name).try(:capitalize)

%br
= will_paginate @users
