- form_tag(search_admin_users_path(:role => params[:role]), :class => "search") do
  = label_tag :q, "Search"
  = text_field_tag :q, params[:q]
  = submit_tag "Search!"
  &nbsp;&nbsp;
  = link_to "Reset", admin_users_path(:role => params[:role]) if controller.action_name == 'search'

%br

%table
  %tr
    %th Name
    %th Institution
	%th 
  - for user in @users
    %tr
      %td= link_to user.name, admin_user_path(user, :role => params[:role])
      %td= user.institution.try(:name).try(:capitalize)
      %td
        %ul.ui-widget.ui-helper-clearfix
          %li.ui-state-default.ui-corner-all
            %span.ui-icon.ui-icon-pencil

%br
= will_paginate @users