%h2= @user.name.capitalize
%p 
  = link_to 'Edit', edit_admin_user_path(@user)
  &nbsp;|&nbsp;
  = link_to 'Delete', admin_user_path(@user), :confirm => 'Are you sure?', :method => :delete
  &nbsp;|&nbsp;
  = link_to 'Back', admin_users_path(:role => session[:role])
%hr

%p
  %b
    Login:
  = @user.login
%p
  %b
    Role:
  = @user.role
%p
  %b
    Institution:
  = link_to @user.institution.name, admin_institution_path(@user.institution)
%p
  %b
    First Name:
  = @user.first_name
%p
  %b
    Last Name:
  = @user.last_name
%p
  %b
    E-Mail:
  = @user.email
%p
  %b
    Created on:
  = @user.created_at.to_formatted_s(:long)
