%h2= @instructor_variable.name
%p= @instructor_variable.description
%hr

%p
  %b
    Display name:
  = @instructor_variable.display_name
%p
  %b
    Index:
  = @instructor_variable.index

%p
  %b
    I/O type:
  = @instructor_variable.io_type
%p
  %b
    Min value:
  = @instructor_variable.description
%p
  %b
    Default value:
  = @instructor_variable.default_value
%p
  %b
    Max value:
  = @instructor_variable.max_value
%p
  %b
    Unit SI
  = @instructor_variable.unit_si
%p
  %b
    Unit IP
  = @instructor_variable.unit_ip
%p
  %b
    SI to IP
  = @instructor_variable.si_to_ip
%p
  %b
    Fault?
  = @instructor_variable.is_fault
%p
  %b
    instructor disable:
  = @instructor_variable.global_disable
%p
  %b
    Left label:
  = @instructor_variable.left_label
%p
  %b
    Right label:
  = @instructor_variable.right_label
%p
  %b
    Subsection:
  = @instructor_variable.subsection
%p
  %b
    Zone position:
  = @instructor_variable.zone_position
%p
  %b
    Subsection:
  = @instructor_variable.subsection
%p
  %b
    Is percentage:
  = @instructor_variable.is_percentage
%p
  %b
    Fault widget type:
  = @instructor_variable.fault_widget_type
%p
  %b
    Notes:
  = @instructor_variable.notes
%p
  %b
    Lock version:
  = @instructor_variable.lock_version
%p
  %b
    Node sequence:
  = @instructor_variable.node_sequence

= link_to 'Edit', edit_admin_user_instructor_variable_path(@instructor, @instructor_variable)
|
= link_to 'Back', admin_user_instructor_variables_path(@instructor)

