#tabs
  %ul
    %li.ui-tabs-selected= link_to "Desktop Application Versions", instructors_client_versions_path

  %br
  %table.listing
    %thead
      %tr
        %th Version
        %th URL
        %th Release Date
    %tbody
      - @client_versions.each do |version|
        %tr
          %td= version.version
          %td= button_to "Download", version.url
          %td= version.release_date
  %br
  = will_paginate @client_versions

