#tabs
  #page_header
    #subject_actions
      = link_to 'Back', :back

    #subject_info
      %h2= @user.name
      .subject_details
        - if @user.institution
          #{@user.role} at #{link_to @user.institution.name, directory_institution_path(@user.institution)}
        - else
          #{@user.role}
  
  #location.ui-widget.ui-widget-content.ui-corner-all
    %h4 location
    %p
      = image_tag "globe_32.png"
      = location_for(@user)
	
  #inner_column
    %table
      %tr
        %th Login:
        %td= @user.login
      %tr
        %th E-Mail:
        %td= mail_to @user.email

      %tr
        %th Member since:
        %td= @user.created_at.to_date.to_formatted_s(:long)

