<html>
<head>
  <title>ePrimer Management Console: <%= controller.action_name %></title>
  <meta http-equiv="cache-control" content="no-cache">
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>

<div id="wrapper">
	<div id="header">
		<img src="/images/header_bar.png" alt="HVAC ePrimer logo"/>
	</div>
	<div style="background: url(/images/blank_button_bar.png) repeat-x; height:32px;">
		&nbsp;
	</div>
</div>


<div id="content">
	
<% if flash[:notice] %>
	  <div style="border:1px solid green; color:green; padding:10px;margin-bottom:10px;"> <%= flash[:notice] %> </div>
	  <% end %>
	<% if flash[:message] %>
	  <div style="border:1px solid #009900; color:#009900; padding:10px;margin-bottom:10px;"> <%= flash[:message] %> </div>
	  <% end %>
	<% if flash[:warning] %>
	 <div style="background-color:#CC0000;color:white; padding:10px; margin-bottom:10px;"> <%= flash[:warning] %> </div>
	 <% end %>
	<br/>

<%= yield  %>

</div> <!-- end content -->
<br/><br/><br/><br/>


<%= render(:partial=>"shared/footer")%>

</body>
</html>
