<html>
<head>
  <title>Systemvariables: <%= controller.action_name %></title>
  <meta http-equiv="cache-control" content="no-cache">
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>

<div id="wrapper">

	<%= render(:partial=>"shared/header")%>
	
	<div id="navigation">
			
			<table border="0" cellspacing="0" cellpadding="0">
			<tr>
			<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td><a href="/scenarios/list"><img src="/images/btn_scenarios.png" alt="Add/Modify Scenarios" border="0"/></a></td>
			<td><a href="/systemvariables/list"><img src="/images/btn_sysvars_live.png" alt="Add/Modify System Variables" border="0"/></a></td>
			<td><a href="/users/list"><img src="/images/btn_users.png" alt="Add/Modify Users" border="0"/></a></td>
			<td><a href="/reports/index"><img src="/images/btn_reports.png" alt="View Reports" border="0"/></a></td>
			<td><a href="/app_configs/"><img src="/images/btn_config.png" alt="HVAC ePrimer Configuration" border="0"/></a></td>
			<td width="100%">&nbsp;</td>
			<td align="right"><a href="/account/help"><img src="/images/btn_help.png" alt="Help" border="0"/></a></td>
			<td align="right"><a href="/account/logout"><img src="/images/btn_logout.png" alt="Logout" border="0"/></a></td>
			</tr>
			</table>
			
	</div>
	
	<div id="navDropShadow">
	   <img src="/images/nav_drop_shadow.png"/>
	</div>
	<!--
	<div id="breadcrumb">
		<a href="/account/welcome/">HOME</a> :: SYSTEM VARIABLES
	</div>  end breadcrumb -->
	
</div>



<div id="content">

	<% if flash[:notice] %>
	  <div style="border:1px solid green; color:green; padding:10px;margin-bottom:10px;"> <%= flash[:notice] %> </div>
	  <% end %>
	<% if flash[:message] %>
	  <div style="border:1px solid #009900; color:#009900; padding:10px;margin-bottom:10px;"> <%= flash[:message] %> </div>
	  <% end %>
	<% if flash[:warning] %>
	 <div style="background-color:#CC0000;color:white; padding:10px; margin-bottom:10px;"> <%= flash[:warning] %> </div>
	 <% end %>
	<br/>
	
<%= yield  %>

</div> <!-- end of content -->

<%= render(:partial=>"shared/footer")%>


</body>
</html>
