- form_for @user_session, :html => {:class => "bp"} do |f|
  %h2 Welcome to Learn HVAC Tool Website.

  = error_messages_for :user_session

  .field
    = f.label :login
    = f.text_field :login, :size=>15
  
  .field
    = f.label :password
    = f.password_field :password, :size=>15

  .actions
    = submit_tag "Log In"
    &nbsp;or&nbsp;
    = link_to "Forgot your password?", reset_password_path
