= content_for :main_header do
  %h1= @college.value
  %h3 Edit
= form_for(@college,:url => admins_settings_educational_entity_path(@college), :method => :put) do |f|
  = render :partial => 'form', :locals => {:f => f}
  .actions
    = f.submit "Update", :class => 'btn primary'
    or
    = link_to 'Cancel', admins_settings_educational_entities_path, :class => 'btn'
