= content_for :main_header do
  %h1 Educational Entities

.well
  = link_to "New Educational Entity", new_admins_settings_educational_entity_path, :class => 'btn'

= form_tag(search_admins_settings_educational_entities_path, :class => "search") do
  .input
    %span Search
    = text_field_tag :q, params[:q]
    = submit_tag "Search", :class => 'btn primary'
    = link_to "Reset", admins_settings_educational_entities_path, :class => 'btn' if controller.action_name == 'search'

%table.zebra-striped
  %thead
    %tr
      %th Name
      %th
  %tbody
  - @colleges.each do |college|
    %tr
      %td= link_to college.value, admins_settings_educational_entity_path(college)
      %td
        = link_to image_tag('trashcan.gif'), admins_settings_educational_entity_path(college), :confirm => 'Are you sure?', :method => :delete
        = link_to image_tag('edit.gif'), edit_admins_settings_educational_entity_path(college)

= search_pagination_for(@colleges)
