= content_for :main_header do
  %h1 New Educational Entity

= form_for(@college,:url => admins_settings_educational_entities_path, :method => :post) do |f|
  %fieldset
    = render :partial => 'form', :locals => {:f => f}
    .actions
      = f.submit 'Create', :class => 'btn primary'
      or
      = link_to 'Cancel', admins_settings_educational_entities_path, :class => 'btn'
