= content_for :main_header do
  %h1= @college.value

.well
  = link_to "New Educational Entity", new_admins_settings_educational_entity_path, :class => 'btn'
  = link_to "Educational Entities", admins_settings_educational_entities_path, :class => 'btn'
  %p.pull-right
    = link_to 'Edit', edit_admins_settings_educational_entity_path(@college), :class => 'btn primary'
    = link_to 'Delete', admins_settings_educational_entity_path(@college), :confirm => 'Are you sure?', :method => :delete, :class => 'btn danger'
