%html
  %head
    %title
      ePrimer Management Console:
      = controller.action_name
    %meta{ "http-equiv" => "cache-control", :content => "no-cache" }
    = csrf_meta_tag
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'

    = stylesheet_link_tag 'scaffold'
    = javascript_include_tag 'jquery-1.4.min'
    = javascript_include_tag 'rails'
    = javascript_include_tag 'jquery-ujs/rails'
  %body
    #wrapper
      = render :partial => "shared/header"
      = render :partial => "layouts/navigation"
      #navDropShadow
        %img{ :src => "/images/nav_drop_shadow.png" }
