#navigation
  %table
    %tr
      %td
      %td= link_to image_tag("btn_scenarios.png"), "/scenarios"
      %td= link_to image_tag("btn_sysvars.png", :alt => "Add/Modify System Variables"), "/system_variables"
      %td= link_to image_tag("btn_users.png", :alt => "Add/Modify Users"), users_path
      - if current_user #current_user.role.name == "superadmin"
        %td= link_to image_tag("btn_institutions.png", :alt => "View Reports"), "/institutions"
      %td= link_to image_tag("btn_reports.png", :alt => "View Reports"), "/reports"
      - if @forums_template
        - form_tag search_all_posts_url, :method => :get do
          %td
            = text_field_tag :q, params[:q], :size => 15, :id => :search_box
          %td
            = submit_tag 'Forums Search'[:search_title], :id => "search_box_button"
      %td
      %td
        = link_to image_tag("btn_help.png", :alt => "help"), "/help"
      %td
        = link_to image_tag("btn_logout.png", :alt => "logout"), "/logout"