#navigation
  %table{ :border => "0", :cellspacing => "0", :cellpadding => "0" }
    %tr
      %td{ :width => "5%" }
      %td= link_to image_tag("btn_scenarios.png", :border => "0"), "/scenarios"
      %td= link_to image_tag("btn_sysvars.png", :border => "0", :alt => "Add/Modify System Variables"), "/system_variables"
      %td= link_to image_tag("btn_users.png", :border => "0", :alt => "Add/Modify Users"), users_path
      - if current_user #current_user.role.name == "superadmin"
        %td= link_to image_tag("btn_institutions.png", :alt => "View Reports", :border => "0"), "/institutions"
      %td= link_to image_tag("btn_reports.png", :alt => "View Reports", :border => "0"), "/reports"
      - if @forums_template
        - form_tag search_all_posts_url, :method => :get do
          %td
            = text_field_tag :q, params[:q], :size => 15, :id => :search_box
          %td
            = submit_tag 'Forums Search'[:search_title], :id => "search_box_button"
      %td{ :width => "100%" }
      %td{ :align => "right" }
        = link_to image_tag("btn_help.png", :alt => "help", :border => "0"), "/help"
      %td{ :align => "right" }
        = link_to image_tag("btn_logout.png", :alt => "logout", :border => "0"), "/logout"