%html
  %head
    %meta{ "http-equiv" => "Content-type", :content => "text/html; charset=utf-8" }
    = csrf_meta_tag
    %title
      Administration
    = stylesheet_link_tag "admin.css"
    = stylesheet_link_tag "print.css", :media => "print"
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"
    = javascript_include_tag 'rails', 'application'
    = yield :head
  %body.bp
    .header
      %h1.siteTitle
        Administration
      %ul.global_nav
        %li.username
          = current_user.name
        %li
          = link_to "Change Password", '/'
        %li
          = link_to "Sign up", logout_path
    .main
      .dl10.navigation
        %h3
          General
        %ul
          %li
            = link_to "Dasboard", admin_dashboard_path
        %h3
          System
        %ul
          %li
            = link_to "M.Scenarios", admin_master_scenarios_path
            = link_to "Institutions", admin_institutions_path
            = link_to "Scenarios", admin_scenarios_path
            = link_to "Users", admin_users_path
            = link_to "Groups", admin_groups_path
      .fluid
        .content
          - if flash[:notice]
            .flash.notice
              = flash[:notice]
          - elsif flash[:error]
            .flash.error
              = flash[:notice]
          = yield
