!!! XML
!!!
%html{"xmlns" => "http://www.w3.org/1999/xhtml"}
  %head
    <meta content="text/html; charset=utf-8" http-equiv="Content-type" />
    = csrf_meta_tag
    %title
      Learn HVAC Administrators
    = include_stylesheets :application
    = include_stylesheets :print, :media => "print"
    = include_javascripts :application
    = javascript_include_tag "http://www.google.com/friendconnect/script/friendconnect.js" if @show_connection
    = include_wice_grid_assets

    = yield :head
    = javascript_tag do
      = yield :js_templates

  %body.bp.administration_site
    .header
      %h1.siteTitle
        %span
        = link_to "Administration Site", "/"
      %ul.global_nav
        %li.username= link_to current_user.name, profile_path
        %li= link_to "Log-out", logout_path

    .border
      &nbsp;
    .main
      .dl10.navigation

        %h3 General
        %ul
          %li
            = link_to "Dashboard", admins_dashboard_path
            = link_to "Settings", admins_settings_path
            = link_to "Community Directory", directory_path

        %h3 System
        %ul
          %li
            = link_to "Master Scenarios", admins_master_scenarios_path
            = link_to "Instructor Scenarios", admins_scenarios_path

        %h3 Users
        %ul
          %li
            = link_to "Admins", admins_users_path(:role => :admin)
            = link_to "Inst. Managers", admins_users_path(:role => :manager)
            = link_to "Instructors", admins_users_path(:role => :instructor)
            = link_to "Students", admins_users_path(:role => :student)
            = link_to "Guests", admins_users_path(:role => :guest)
            = link_to "Institutions", admins_institutions_path
            = link_to "Classes", admins_classes_path

      .fluid
        .content
          = render_crumbs.html_safe
          = display_flash
          = yield
          - if @show_connection
            = render :partial => "layouts/connection"
