!!!
/[if lt IE 7 ] <html lang="en" class="no-js ie6">
/[if IE 7 ] <html lang="en" class="no-js ie7">
/[if IE 8 ] <html lang="en" class="no-js ie8">
/[if IE 9 ] <html lang="en" class="no-js ie9">
/ [if (gt IE 9)|!(IE)]><!
%html.no-js{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "UTF-8"}/
    %title Learn Green Buildings Admin
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href => "/favicon.ico", :rel => "shortcut icon"}/
    = csrf_meta_tag
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'modernizr'
    = yield :head
  %body
    #wrapper
      %header
        #logo
          Learn Green Buildings
        #app_title
          Administration
        %nav
          = generate_nav
        #subnav
          #welcome= "Welcome, #{current_user.name}, #{current_user.role.to_s}"
          = link_to "Account Settings", edit_profile_path, :class => 'settings'
          = link_to "Sign Out", logout_path, :confirm => 'Really sign out?', :method => :get, :class => 'logout'
          
      #content
        - flash.each do |name, msg|
          %div(class=name)= msg
        = yield

    %footer
      == &copy; #{Date.today.year} Institute for the Sustainable Performance of Buildings. All rights reserved.
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"}
    :javascript
      !window.jQuery && document.write(unescape('%3Cscript src="javascripts/jquery.js"%3E%3C/script%3E'))
    = javascript_include_tag :defaults
    = yield :scripts
    /[if lt IE 7 ]
      <script src="javascripts/dd_belatedpng.js"></script>
      <script> DD_belatedPNG.fix('img, .png_bg');</script>
