%html
  %head
    %meta{ "http-equiv" => "Content-type", :content => "text/html; charset=utf-8" }
    %meta{:name => 'csrf-token', :content => form_authenticity_token}
    %meta{:name => 'csrf-param', :content => 'authenticity_token'}
    %title
      = yield :title
      Learn HVAC Administration
    = stylesheet_link_tag "screen.css"
    = stylesheet_link_tag "print.css", :media => "print"
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"
    = javascript_include_tag 'rails', 'application'
    = yield :head
    /[if IE]
      = stylesheet_link_tag 'ie.css'
  %body.bp
    .header
      .content
        %h1.siteTitle
          = link_to image_tag('logo.png'), root_path
        %ul.global_nav
          - if logged_in?
            %li.username
              Welcome #{current_user.name}
            %li
              = link_to 'Log-out', logout_path, :method => :delete
            - if current_user.has_role?(:admin)
              %li
                = link_to 'Admin', admin_dashboard_path
          - else
            %li
              = link_to 'Signup', sign_up_path
    .shadow
      .subnav
        - if logged_in?
          = yield :subnav
      .main
        = display_flash
        = yield
        .clear
    .footer
      .content
        %ul.nav
          %li
            = link_to 'Contact Us', '/contact_messages/new', :rel => "nofollow"
          %li
            = link_to 'Terms', '/pages/terms-of-use', :rel => "nofollow"
        %p.attribution
          Copyright
