!!! XML
!!!
%html{"xmlns" => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{ "http-equiv" => "Content-type", :content => "text/html; charset=utf-8" }
    = csrf_meta_tag
    %title
      Learn HVAC Administration
    = stylesheet_link_tag "admin.css"
    = stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/themes/base/jquery-ui.css"
    = stylesheet_link_tag "print.css", :media => "print"
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"
    = javascript_include_tag 'rails', 'application'

    = yield :head
  %body.bp.instructor_site
    .header
      %h1.siteTitle
        %span
        = link_to "Instructor Site", "/"
      %ul.global_nav
        - if logged_in?
          %li.username
            = current_user.name
          - if current_user.has_role?(:admin)
            %li
              = link_to 'Admin Site', admin_dashboard_path
          %li
            = link_to "Change Password", '/'
          %li
            = link_to "Log-out", logout_path
        - else
          %li
            = link_to "Sign Up", signup_path
        
    .border
      &nbsp; 
    .main
      .dl10.navigation
        - if logged_in?
          %h3 System
          %ul
            %li
              = link_to "Scenarios", scenarios_path
          %h3 Users/Groups
          %ul
            %li
              = link_to "Groups", groups_path

      .fluid
        .content
          = display_flash
          = yield
