=render "layouts/head"

%body.bp.instructor_site
  .header
    %h1.siteTitle
    %ul.global_nav
      - if logged_in?
        %li.username
          = current_user.name
        - if current_user.has_role?(:admin)
          %li
            = link_to 'Admin Site', admin_dashboard_path
        %li= link_to "Log-out", logout_path
      - else
        %li= link_to "Sign Up", signup_path
      
  .border
    &nbsp; 
  .main
    .dl10.navigation

    .fluid
      .content
        = display_flash
        = yield
