!!! XML
!!!
%html{"xmlns" => "http://www.w3.org/1999/xhtml"}
  %head
    <meta content="text/html; charset=utf-8" http-equiv="Content-type" />
    = csrf_meta_tag
    %title
      Learn HVAC Institution Managers
    = include_stylesheets :application
    = include_stylesheets :print, :media => "print"
    = include_javascripts :application
    = javascript_include_tag "http://www.google.com/friendconnect/script/friendconnect.js" if @show_connection

    = yield :head
    = javascript_tag do
      = yield :js_templates

  %body.bp.manager_site
    .header
      %h1.siteTitle
        %span
        = link_to "Institution Site", "/", :class => "title"
      %ul.global_nav
        - if logged_in?
          %li.username= link_to current_user.name, profile_path
          - if current_user.has_role?(:admin)
            %li
              = link_to 'Admin Site', admins_dashboard_path
          %li= link_to "Log-out", logout_path
        - else
          %li= link_to "Sign Up", signup_path

    .border
      &nbsp;
    .main
      .dl10.navigation
        - if logged_in?
          %h3="#{formatted_institution_name(current_user.institution)}"
          %ul
            %li
              = link_to "Instructors", managers_instructors_path
              = link_to "Classes", managers_classes_path
              = link_to "Scenarios", managers_scenarios_path
          %h3
          %ul
            %li
              = link_to "Directory", directory_path

      .fluid
        .content
          = display_flash
          = yield
          = render :partial => "layouts/connection" if @show_connection
