=render "layouts/head"

%body.bp.instructor_site
  .header
    %h1.siteTitle
    %ul.global_nav
      - if logged_in?
        %li.username
          = current_user.name
        - if current_user.has_role?(:admin)
          %li
            = link_to 'Admin Site', admin_dashboard_path
        %li
          = link_to "Change Password", '/'
        %li
          = link_to "Log-out", logout_path
      - else
        %li
          = link_to "Sign Up", signup_path
      
  .border
    &nbsp; 
  .main
    .dl10.navigation
      - if logged_in?
        %h3= "#{current_user.institution.name}"
        %ul
          %li
            = link_to "Instructors", managers_instructors_path
            = link_to "Groups", managers_groups_path
            = link_to "Scenarios", managers_scenarios_path

    .fluid
      .content
        = display_flash
        = yield
