!!!
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
    %title Signup for Learn HVAC
    = stylesheet_link_tag 'signup'
    = javascript_include_tag :application
    = yield :head
  %body.signup
    .javascript_required
      .wrapper
        .header
          .container
            .logo= image_tag "new_logo.png", :width => "194", :height => "40", :alt => "LearnHVAC"
      .container
        .rightcolumn
          .thanks= image_tag "attention_students.png", :width => '310', :height => '300'
        = yield
      .clear.both
      .footer
        .container
