%html
  %head
    %title
      ePrimer Management Console:
      = controller.action_name
    %meta{ :content => "no-cache", "http-equiv" => "cache-control" }
    = stylesheet_link_tag 'scaffold'
  %body
    #wrapper
      #header
        = image_tag("header_bar.png", :alt => "HVAC ePrimer logo")
      %div.sub_nav
    #content
      - if flash[:notice]
        %div.notice
          = flash[:notice]
      - if flash[:message]
        %div.notice.message
          = flash[:message]
      - if flash[:warning]
        %div.notice.warning
          = flash[:warning]
      %br
      = yield
    %br
    = render(:partial=>"shared/footer")
