%html
  %head
    %title
      LearnHVAC Management Console:
      = controller.action_name
  %body
    #wrapper
      #header
        %img{ :src => "/images/header_bar.png", :alt => "HVAC ePrimer logo" }
      %div{ :style => "background: url(/images/blank_button_bar.png) repeat-x; height:32px;" }
        \&nbsp;
    #content
      - if flash[:notice]
        %div.notice
          = flash[:notice]
      - if flash[:message]
        %div.notice.message
          = flash[:message]
      - if flash[:warning]
        %div.notice.warning
          = flash[:warning]
      %br
      = yield
    %br
    = render(:partial=>"shared/footer")
