= content_for :head do
  = render :partial => 'shared/user_form_js', :locals => { :u => @account, :autocomplete => true }

.leftcolumn
  .banner
    %h2 Register to use the Learn HVAC application.

  .contents
    = form_for @account, :url => accounts_path, :html => { :class => "signup" } do |f|
      = error_messages_for :account

      .account.section
        .sign_in
          %strong Already have a LearnHVAC account?
          %br
          = link_to "Sign in", login_path

        %h3.step Your Info
        %p * All fields are required
        %table
          %tbody
            %tr
              %td
                = f.label :first_name, "First name"
              %td
                = f.text_field :first_name
            %tr
              %td
                = f.label :last_name, "Last name"
              %td
                = f.text_field :last_name
            %tr
              %td
                = f.label :email, "Email"
              %td
                = f.text_field :email
            %tr
              %td
                = f.label :institution_name, "Institution"
              %td
                = f.text_field :institution_name
                %br
                (Or university, community college, organization, non-profit, group, school, etc.)
            %tr
              %td
                = f.label :country, "Country"
              %td
                = f.country_select :country, ['United States', 'Canada']
            %tr
              %td
                = f.label :state, "State/Region"
              %td#states
                = f.text_field :state
            %tr
              %td
                = f.label :city, "City"
              %td
                = f.text_field :city


        %fieldset
          %legend Instructors
          Would you like you signup as an Instructor?
          %p
            Instructors have additional privileges and capabilities. For example, create new scenarios, edit existing scenarios, create and manage classes, distribute scenarios to students, share scenarios with other instructors, etc.
          %p If you registering as an instructor please make sure the institution above is where you are teaching.
          %br
          = f.check_box :role_code, {}, 2, 0
          = f.label :role_code, "Signup as Instructor"

        %fieldset.credentials
          %legend Now choose a username &amp; password

          #username_entry
            %p.field
              = f.label :login
              %br
              = f.text_field :login
              %br
              %span#username_hint This is what you’ll use to sign in.

            %p.field
              = f.label :password
              %br
              = f.password_field :password

            %p.field
              = f.label :password_confirmation, "Enter your password again for verification"
              %br
              = f.password_field :password_confirmation

      .activation_instructions
        %p.instruction
          %strong
            Activation instructions
        %p.instruction
          We will send you an activation link to your email inbox.
        %p.instruction
          You MUST click the link to complete the registration process. If you don't click the link, you cannot properly sign in and use the system.

      %p.instruction
        By clicking
        %strong Create my account
        you agree to the
        = link_to "Terms of Use", terms_path

      %input{:alt => "Create my account", :src => "images/signup/btn-createaccount.png", :type => "image"}

