- content_for :head do
  - javascript_tag do
    :plain
      $(document).ready(function(){
        $(function() {
          $("#user_institution_name").autocomplete({
            source: "/colleges"
          });
        });
        $(function() {
          $.get('/states?s=' + $("#user_country").val(), function(data) {
            $('#states').html(data);
          })
        })
      });

%h2 
  Instructor Registration

%p Are you a student? Go to #{link_to "student registration", students_signup_path}

%p Register to start using the LearnHVAC instructors website where you do things like create and manage scenarios, share scenarios with students.
%p You will receive an email confirmation after you submit this form.

- form_for @account, :url => { :controller => :accounts, :action => :create } do |f|
  = error_messages_for :account

  %fieldset
    .field
      = f.label :first_name, "First Name"

      = f.text_field :first_name
    .field
      = f.label :last_name, "Last Name"

      = f.text_field :last_name

  %fieldset
    .field
      = f.label :country
      = f.country_select :country, ['United States', 'Canada']

    .field#states
      = f.label :state
      = f.text_field :state

    .field
      = f.label :city
      = f.text_field :city

  %fieldset
    .field
      = f.label :login

      = f.text_field :login
    .field
      = f.label :email, "Email address"

      = f.text_field :email
    .field
      = f.label :password

      = f.password_field :password, :size=>20,  :value=>""
    .field
      = f.label :password_confirmation, "Password Confirmation"	

      = f.password_field :password_confirmation, :size=>20,  :value=>""
  
  %fieldset
    .field
      Enter the name of your institution and select the name if available.
    .field
      = f.label :institution_name
      = f.text_field :institution_name

  .action
    = submit_tag "Create", :class=>'submitButton'
    = link_to 'Back', "#"
