#tabs
  %ul
    %li= link_to @scenario.name, managers_scenario_path(@scenario)
    %li.ui-tabs-selected= link_to "Observers", access_managers_scenario_path(@scenario)
    
  #page_header
    #subject_info
      %h2 Who has access?
      .subject_details= "Instructor: #{@scenario.user.name}"

  #inner_column
    - if @scenario.public?
      %p 
        This scenario is 
        %b public
        and can be accessed by any user in the system.

    - else
      %p
        This scenario is
        %b private
        and can only be accessed by the instructor and:

      %h3 Groups
      - if @scenario.groups.empty?
        %b This scenario hasn't been yet assigned to a group.
      - else
        %table.listing
          %thead
            %tr
              %th Name
              %th Students
              %th Scenarios
              %th Code
          - @scenario.groups.each do |group|
            %tr
              %td= link_to group.name, managers_class_path(group)
              %td= group.students.count
              %td= group.scenarios.count
              %td= group.code
