= content_for :main_header do
  %h1= @scenario.name
  %p= @scenario.public? ? "Public" : "Private"

.well
  = link_to "Variables", managers_scenario_variables_path(@scenario), :class => 'btn success'
  &nbsp;&nbsp;
  = link_to 'Who has access?', [:managers, @scenario, :accesses], :class => 'btn primary'

%h4 Description
%p= @scenario.description

%table
  %tr
    %td
      %strong Author:
    %td= @scenario.user.name
  %tr
    %td
      %strong Created on:
    %td= @scenario.created_at.to_formatted_s(:long)
  %tr
    %td
      %strong Client version:
    %td
      - if @scenario.client_version
        = link_to @scenario.client_version.version, @scenario.client_version.url
      - else
        %em No associated
  %tr
    %td
      %strong Level:
    %td= @scenario.level
  %tr
    %td
      %strong Inputs visible:
    %td= @scenario.inputs_visible
  %tr
    %td
      %strong Inputs enabled:
    %td= @scenario.inputs_enabled
  %tr
    %td
      %strong Faults visible:
    %td= @scenario.faults_visible
  %tr
    %td
      %strong Faults enabled:
    %td= @scenario.faults_enabled
  %tr
    %td
      %strong Longterm start date:
    %td= @scenario.longterm_start_date
  %tr
    %td
      %strong Longterm stop date:
    %td= @scenario.longterm_stop_date
  %tr
    %td
      %strong Allow longterm date change:
    %td= @scenario.allow_longterm_date_change
  %tr
    %td
      %strong Realtime start datetime:
    %td= @scenario.realtime_start_datetime
  %tr
    %td
      %strong Allow realtime datetime change:
    %td= @scenario.allow_realtime_datetime_change
  %tr
    %td
      %strong Valve info enabled:
    %td= @scenario.valve_info_enabled
  %tr
    %td
      %strong Student debug access:
    %td= @scenario.student_debug_access
  %tr
    %td
      %strong Short description:
    %td= @scenario.short_description
  %tr
    %td
      %strong Goal:
    %td= @scenario.goal
