%h2 Listing groups
%hr

%p Register a group.

- form_for(@membership, :url => membership_register_path) do |f|
  = label_tag :code, "Group Code"
  = text_field_tag :code
  = f.submit "Register Group"

%table
  %tr
    %th Name
    %th
  - @groups.each do |group|
    %tr
      %td= group.name
      %td= link_to 'Show', students_group_path(group)
