= content_for :main_header do
  %h1 Classes
  %p You are a member of the following groups.

%table.zebra-striped
  %thead
    %tr
      %th Name
      %th Lead By
      %th Member since
  %tbody
    - @groups.each do |group|
      %tr
        %td= link_to group.name, students_class_path(group)
        %td= group.creator.name
        %td= group.memberships.where(:member_id => current_user.id).first.created_at.to_formatted_s(:long)
%br/
= will_paginate @groups
